@model Ideation.Models.Account
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewData["Title"] - Project Nexus</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/N_assets/images/TP/Small_ICON_TP Logo_Transparent.png")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="@Url.Content("~/N_assets/css/login_N.css")" rel="stylesheet" />
</head>
<body>
    <!-- Animated background particles -->
    <div class="bg-animation">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>

    <!-- Top right logo -->
    <div class="logo-top-right logoBox">
        <img src="~/N_assets/images/TP/Large_TP_Logo_Transparent.png" alt="TalentPace Logo" />
    </div>
    <!-- Main login container -->
    <div class="login_page">
        <div class="middle_box">
            <div class="form_bg">
                <div class="title_name">
                    <div>
                        <img class="title_img" src="~/N_assets/images/TP/Small_ICON_TP Logo_Transparent.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <p>Project Nexus</p>
                    </div>
                   
                </div>
               
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "loginForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Username, new
                            {
                                @class = "form-control",
                                placeholder = "Username",
                                autofocus = "autofocus",
                                autocomplete = "username"
                            })
                        <div style="min-height: 20px">
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger validation_login" })
                        </div>
                    </div>

                    <div class="form-group position-relative">
                        @Html.PasswordFor(model => model.Password, new
                            {
                                @class = "form-control",
                                placeholder = "Password",
                                autocomplete = "current-password",
                                id = "Password"
                            })

                        <span class="toggle-password d-none" id="togglePassword">
                            <i class="fas fa-eye" id="eyeIcon"></i>
                        </span>

                        <div style="min-height: 20px">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger validation_login" })
                        </div>
                    </div>

                    <button type="submit" class="btn signin">
                        <span class="spinner"></span>
                        <span class="btn-text">Sign In</span>
                    </button>
                }

                <div id="message">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert @TempData["Messageclass"].ToString() mt-3">
                            @Html.Raw(@TempData["Message"].ToString())
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>

    <script src="@Url.Content("~/N_assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/N_assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/N_assets/js/Login.js")"></script>

</body>
</html>