@model Ideation.Models.NPD;

@{
    ViewData["Title"] = "New Production";
    Layout = "/Views/Shared/N_PB_Layout.cshtml";
    var userName = Context.Session.GetString("UserName");
    var hub = Context.Session.GetString("Hub");
}

<section>
    <div class="new_fields">
        <div class="-m_title_ ">
            <h4><span>Home/</span><span>Create New/</span> NPD</h4>
        </div>
        <div class="note_savedata_">
            (Note: The Project Brief information will be auto saved for every 5 minutes . Please ensure that Project Name is entered to Auto save the data.)
        </div>
        <div class="right_top">
            <ul>
                <li class="preview" data-toggle="modal" data-target="#preview"><i class="fa fa-eye"></i> Preview</li>
                <li><a href="@Url.Content("~/ProjectBrief/ProjectBrief")"><i class="fas fa-arrow-left"></i> Back</a></li>
            </ul>
        </div>
    </div>
</section>



@using (Html.BeginForm("NPD", "ProjectBrief", FormMethod.Post, new {@class="widht_100", id = "Npd_Form_Submit", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.NpdHeaderTableData)
    @Html.HiddenFor(model => model.ProjectDetailsData)
    @Html.HiddenFor(model => model.ProductPositionigData)
    @Html.HiddenFor(model => model.FormulationProfileData)
    @Html.HiddenFor(model => model.PackagingProfileData)
    @Html.HiddenFor(model => model.BusinessInformationData)
    @Html.HiddenFor(model => model.SustainabilityData)
    @Html.HiddenFor(model => model.Status, new { @id = "NpdStatus" })
    @Html.HiddenFor(model => model.ApprovalStatus)
    @Html.HiddenFor(model => model.IsEdit)
    @Html.HiddenFor(model => model.CurrentStatusName, new { @id = "NpdCurrentStatusName" })
    @Html.HiddenFor(model => model.ProjectId, new { @id = "ProjectId" })
    @Html.HiddenFor(model => model.UserName, new { @Value = @userName, @id = "UserName" })
    @Html.HiddenFor(model => model.SupportingDocumentData)
    @Html.HiddenFor(model => model.DeletedSupportingdocument)

    <section>
        <div class="d-flex">
            <div class="initiated_section create_new_filter" id="NPD_Table">
                <div class="hub_name" id="NPD_Hub">@hub </div>
                <div class="form_initiated">
                    <div class="col-initiated">
                        <div class="d-flex" id="NPD_Division">
                            <label class="control-label">Division <span class="color-red">*</span></label>
                            <div class="_init_width_dropdown">
                                @Html.DropDownListFor(model => model.Division, Model.DivisionList, "--Select--", new { @class = "form-control data-singleselect", @id = "Division" })
                                <span id="ErrorDivision" class="color-red" style="display:none"><br />Please select Division</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-initiated ">
                        <div class="d-flex" id="NPD_Category">
                            <label class="control-label">Category <span class="color-red">*</span></label>
                            <div class="_init_width_dropdown">
                                <select class="form-control addCategoryOption data-singleselect" id="Npd_Category" name="Category">
                                    <option value="">--Select--</option>
                                    @Html.HiddenFor(model => model.Category, new { @class = "form-control form-control-sm", @id = "Category" })
                                </select>
                                <span id="Message_Npd_Category" style="display:none"><br />Please select Division First</span>
                                <span id="ErrorCategory" class="color-red" style="display:none"><br />Please select Category</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-initiated by_date_iniitia">
                        <div class="d-flex align-items-center">
                            <label class="control-label">Initiated By: </label>
                            <div class="" id="NPD_InitiatedBy">
                                <span>@userName</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-initiated by_date_iniitia">
                        <div class="d-flex align-items-center">
                            <label class="control-label"> Initiated Date:</label>
                            <div class="" id="NPD_InitiatedDate">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-initiated by_date_iniitia">
                        <div class="d-flex align-items-center">
                            <label class="control-label">Status: </label>
                            <div class="status_value" id="NPD_Status">
                                New
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="expand_initiate">
                    <div>
                        <div onclick="$(document).toggleFullScreen()" class="js-toggle-fullscreen-btn toggle-fullscreen-btn" aria-label="Enter fullscreen mode">
                            <i class="fas fa-expand fullscreen_expand fullscreen-btn" title="Full Screen"></i>
                            <i class="fas fa-times fullscreen_minimize exitscreen-btn"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    </section>
    <section>
        <div class="button_top float-right mt-2">
            @if (Model.IsEdit)
            {
                @if (Model.Role != "PMD Team")
                {
                    <button type="button" id="NPD_Save" class="btn btn-draft" data-bs-toggle="modal" data-title="Save" onclick="ValidateSaveForm()">Save as Draft</button>
                    <button type="button" id="NPD_SubmittoManagers" class="btn btn-approval" data-bs-toggle="modal" data-title="Submit" onclick="ValidateSendToManagerForm()">Send For Approval</button>
                    <button type="button" id="NPD_Submit" class="btn btn-hgml" data-bs-toggle="modal" data-title="Submit" onclick="ValidateSubmitForm()">Send To HGML</button>
                    <button type="button" id="NPD_Cancel" class="btn btn-cancel" data-bs-toggle="modal" data-bs-target="#CancelModal" data-title="Back"> Back</button>
                }
            }
              </div>
        <div>
            <ul class="link_href mb-2 mt-2">
                <li><a href="#ci" onclick="moveToTop('ci', 'highlight_section')" class="active">Project Details</a></li>
                <li><a href="#bh" onclick="moveToTop('bh', 'highlight_section')">Product Positioning</a></li>
                <li><a href="#sd" onclick="moveToTop('sd', 'highlight_section')">Product Profile: Formulation Profile</a></li>
                <li><a href="#tc" onclick="moveToTop('tc', 'highlight_section')">Product Profile: Packaging Profile</a></li>
                <li><a href="#ship_address" onclick="moveToTop('ship_address', 'highlight_section')">Sustainability</a></li>
                <li><a href="#ship_location" onclick="moveToTop('ship_location', 'highlight_section')">Business Information</a></li>
                <li><a href="#sd1" onclick="moveToTop('sd1', 'highlight_section')">Supporting Documents</a></li>
                <li><a href="#init" onclick="moveToTop('inti', 'highlight_section')">Initiator Remarks</a></li>
            </ul>
        </div>
        <div class="cust_fields_master">
            <div id="ci" class="highlight_section ship_to">
                <div class="details_section">
                    <h4>Project Details</h4>
                    <div class="form_section">
                        <div>
                            <div class="form-group">
                                <label class="control-label">Project Name <span class="color-red">*</span></label>
                                @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control form-control-sm", @id = "Npd_ProjectName" })
                                <span style="color:red; display:none" id="Error_Npd_ProjectName" class="Error_ProjectDetails">Please enter Project Name</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label"> Business Objective <span class="color-red">*</span></label>
                                @Html.TextAreaFor(model => model.BusinessObjective, new { @name = "editorpds", @class = "form-control", @id = "Npd_BusinessObjective" })
                                @Html.ValidationMessageFor(model => model.BusinessObjective, "", new { @class = "text-danger" })
                                <span style="color:red; display:none" id="Error_Npd_BusinessObjective" class="Error_ProjectDetails">Please enter Business Objective </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bh" class="ship_to">
                <div class="details_section">
                    <h4>Product Positioning</h4>
                    <div class="form_section ">
                        <div>
                            <div class="form-group">
                                <label class="control-label">Target Consumer <span class="color-red">*</span></label>
                                @Html.TextBoxFor(model => model.ProductPositioningTargetConsumer, new { @class = "form-control form-control-sm", @id = "PP_TargetConsumer" })
                                <span style="color:red; display:none" id="Error_PP_TargetConsumer" class="Error_ProductPositioning">Please enter Target Consumer </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Competitive Offerings</label>
                                @Html.TextAreaFor(model => model.ProductPositioningCompetitiveOfferings, new { @name = "editor3", @class = "form-control", @id = "PP_CompetitiveOfferings" })

                            </div>
                            <div class="form-group">
                                <label class="control-label">Unmet Need</label>
                                @Html.TextAreaFor(model => model.ProductPositioningUnmetNeed, new { @name = "editor4", @class = "form-control", @id = "PP_UnmetNeed" })
                            </div>
                            <span style="color:red;display:none" id="Error_ProductPositioning" class="Error_EmptyGrid">Please enter atleast one data for Product Positioning</span>
                            <div class="">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Product <span class="color-red">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.ProductPositioningProduct, new { @class = "form-control ProductPositioning", @id = "PP_Product", @style = "border-color:#d1d1d1" })
                                                <span style="color:red; display:none" id="Error_PP_Product" class="Error_ProductPositioning"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Expected Features <span class="color-red">*</span></label>
                                            <div class="ckediter_tolbar feature_benefits ">
                                                @Html.TextAreaFor(model => model.ProductPositioningExpectedFeatures, new { @name = "editor4", @class = "form-control ProductPositioning", @id = "PP_ExpectedFeatures", @cols = "30" })
                                                <span style="color:red; display:none" id="Error_PP_ExpectedFeatures" class="Error_ProductPositioning">Please enter Expected Features </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Expected Benefits <span class="color-red">*</span></label>
                                            @Html.TextAreaFor(model => model.ProductPositioningExpectedBenefits, new { @name = "editor4", @class = "form-control ProductPositioning", @id = "PP_ExpectedBenefits", @cols = "30" })
                                            <span style="color:red; display:none" id="Error_PP_ExpectedBenefits" class="Error_ProductPositioning">Please enter Expected Benefits </span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label class="control-label">SKU <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.ProductPositioningSku, new { @class = "form-control ProductPositioning", @id = "PP_Sku", @style = "border-color:#d1d1d1" })
                                            <span class="sku_note" style="font-size:10px">(Please enter the SKU values with comma separated (Ex: 50 ml , 100 ml))</span>
                                            <div style="color:red; display:none" id="Error_PP_Sku" class="Error_ProductPositioning">Please enter SKU</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group mb-0 mt-4">
                                            <button type="button" id="Add_ProductPositioning" class="btn btn-draft">Add</button>
                                        </div>
                                    </div>
                                </div>


                                <div class="">
                                    <div class="">
                                        <div class="row">
                                            <div class="m-table__main grid_height">
                                                <div class="m-table__responsive -virtual-scroll">
                                                    <table id="Product_Positioning" class="table table-bordered"></table>
                                                    <div id="pager_worksheet"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="sd" class="ship_to">
                <div class="details_section">
                    <h4>Product Profile: Formulation Profile</h4>
                    <span style="color:red;display:none" id="Error_FormulationProfile" class="Error_EmptyGrid">Please enter atleast one data for Formulation Profile</span>
                    <div class="form_section">
                        <div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Product <span class="color-red">*</span></label>
                                        <div class="demo-content">
                                            @Html.DropDownListFor(model => model.FormulationProfileProduct, new List<SelectListItem>(), "--Select--", new { @class = "form-control FormulationProfile", @id = "FP_Product" })                                <span style="color:red; display:none" id="Error_FP_Product" class="Error_FormulationProfile">Please enter Product </span>
                                            <span style="color:red; display:none" id="Error_FP_Product" class="Error_FormulationProfile"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"> Desired Ingredients <span class="color-red">*</span></label>
                                        <div class="demo-content">
                                            @Html.TextAreaFor(model => model.FormulationProfileDesiredIngredients, new { @name = "editor1", @class = "form-control FormulationProfile", @id = "FP_DesiredIngredients", @cols = "30" })
                                            <span style="color:red; display:none" id="Error_FP_DesiredIngredients" class="Error_FormulationProfile">Please enter Desired Ingredients  </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"> Indication / Conditions</label>
                                        <div class="demo-content">
                                            @Html.TextAreaFor(model => model.FormulationProfileIndicationOrConditions, new { @name = "editor1", @class = "form-control FormulationProfile", @id = "FP_IndicationOrConditions", @cols = "30" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Must have claims <span class="color-red">*</span></label>
                                        <div class="demo-content">
                                            @Html.TextAreaFor(model => model.FormulationProfileMustHaveClaims, new { @name = "editor1", @class = "form-control FormulationProfile", @id = "FP_MustHaveClaims", @cols = "30" })
                                            <span style="color:red; display:none" id="Error_FP_MustHaveClaims" class="Error_FormulationProfile">Please enter Must have claims </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Nice to have claims <span class="color-red">*</span></label>
                                        <div class="demo-content">
                                            @Html.TextAreaFor(model => model.FormulationProfileNiceToHaveClaims, new { @name = "editor1", @class = "form-control FormulationProfile", @id = "FP_NiceToHaveClaims", @cols = "30" })
                                            <span style="color:red; display:none" id="Error_FP_NiceToHaveClaims" class="Error_FormulationProfile">Please enter Nice to have claims </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"> Dosage Form</label>
                                        <div class="demo-content">
                                            @Html.TextAreaFor(model => model.FormulationProfileDosageForm, new { @name = "editor1", @class = "form-control FormulationProfile", @id = "FP_DosageForm", @cols = "30" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"> Benchmark Products <span class="color-red">*</span></label>
                                        <div class="demo-content">
                                            @Html.TextAreaFor(model => model.FormulationProfileBenchmarkProducts, new { @name = "editor1", @class = "form-control FormulationProfile", @id = "FP_BenchmarkProducts", @cols = "30" })
                                            <span style="color:red; display:none" id="Error_FP_BenchmarkProducts" class="Error_FormulationProfile">Please enter Benchmark Products </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"> Desired Product Characteristics</label>
                                        <div class="demo-content">
                                            @Html.TextAreaFor(model => model.FormulationProfileDesiredProductCharacteristics, new { @name = "editor1", @class = "form-control FormulationProfile", @id = "FP_DesiredProductCharacteristics", @cols = "30" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Benchmark Products Image</label>
                                        <div class="demo-content">
                                            <input type="file" name="files" id="FP_BenchmarkProductsImage" class="form-control FormulationProfile" accept=".jpg, .jpeg, .png, .gif, .jfif, .tiff, .bmp, .svg" onchange="fileValidation()" multiple>
                                            <span id="Err_InvalidBenchmarkProductsImage" style="color:red;display:none">The image must be a file of type: jpg, jpeg, png, gif, jfif, tiff, bmp, svg</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-0 mt-4">
                                        <button type="button" id="Add_FormulationProfile" class="btn btn-draft">Add</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span id="Display_FP_BenchmarkProductsImage" class="DisplayImage_Pack"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="formulation_table Formulation_Profile_Table" id="Formulation_Profile_Table">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tc" class="ship_to">
                <div class="details_section">
                    <h4>Product Profile: Packaging Profile</h4>
                    <span style="color:red;display:none" id="Error_PackagingProfile" class="Error_EmptyGrid">Please enter atleast one data for Packaging Profile</span>
                    <span id="Error_PPR_Product_Sku" class="color-red Error_PackagingProfile"></span>
                    <div class="form_section">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Product <span class="color-red">*</span></label>
                                        @Html.DropDownListFor(model => model.PackagingProfileProduct, new List<SelectListItem>(), "--Select--", new { @class = "form-control PackagingProfile", @id = "PPR_Product" })                                <span style="color:red; display:none" id="Error_FP_Product" class="Error_FormulationProfile">Please enter Product </span>
                                        <span style="color:red; display:none" id="Error_PPR_Product" class="Error_PackagingProfile"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">SKU <span class="color-red">*</span></label>
                                        @Html.DropDownListFor(model => model.PackagingProfileSku, new List<SelectListItem>(), new { @class = "form-control PackagingProfile example-dropUp", @id = "PPR_SKU", @multiple = "multiple" })
                                        <span style="color:red; display:none" id="Error_PPR_SKU" class="Error_PackagingProfile">Please select SKU </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Mold</label>
                                        @Html.DropDownListFor(model => model.PackagingProfileMould, Model.MoldList, "--Select--", new { @id = "PPR_Mould", @class = "form-control PackagingProfile" })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Primary Packaging <span class="color-red">*</span> </label>
                                        <div class="ckediter_tolbar feature_benefits ">
                                            @Html.TextAreaFor(model => model.PackagingProfilePrimaryPackaging, new { @name = "editor1", @class = "form-control PackagingProfile", @id = "PPR_PrimaryPackaging", @cols = "30" })
                                            <span style="color:red; display:none" id="Error_PPR_PrimaryPackaging" class="Error_PackagingProfile">Please enter Primary Packaging </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Secondary Packaging</label>
                                        <div class="ckediter_tolbar feature_benefits ">
                                            @Html.TextAreaFor(model => model.PackagingProfileSecondaryPackaging, new { @name = "editor1", @class = "form-control PackagingProfile", @id = "PPR_SecondaryPackaging", @cols = "30" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label">Tertiary Packaging</label>
                                        <div class="ckediter_tolbar feature_benefits ">
                                            @Html.TextAreaFor(model => model.PackagingProfileTertiaryPackaging, new { @name = "editor1", @class = "form-control PackagingProfile", @id = "PPR_TertiaryPackaging", @cols = "30" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Benchmark Products</label>
                                        <div class="ckediter_tolbar feature_benefits ">
                                            @Html.TextAreaFor(model => model.PackagingProfileBenchmarkProducts, new { @name = "editor1", @class = "form-control PackagingProfile", @id = "PPR_BenchmarkProducts", @cols = "30" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Desired Packaging Characteristics</label>
                                        <div class="ckediter_tolbar feature_benefits ">
                                            @Html.TextAreaFor(model => model.PackagingProfileDesiredPackagingCharacteristics, new { @name = "editor1", @class = "form-control PackagingProfile", @id = "PPR_DesiredPackagingCharacteristics", @cols = "30" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Others (If any)</label>
                                        <div class="ckediter_tolbar feature_benefits ">
                                            @Html.TextAreaFor(model => model.PackagingProfileOthers, new { @name = "editor1", @class = "form-control PackagingProfile", @id = "PPR_Others", @cols = "30" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Image Upload</label>
                                        <input type="file" name="files" id="PPR_ImagesUpload" class="form-control PackagingProfile" accept=".jpg, .jpeg, .png, .gif, .jfif, .tiff, .bmp, .svg" onchange="validateFileUpload()" multiple>
                                        <span id="Err_Invalid_PPR_ImagesUpload" style="color:red;display:none">The image must be a file of type: jpg, jpeg, png, gif, jfif, tiff, bmp, svg</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-0 mt-4 pt-1">
                                        <button type="button" id="Add_PackagingProfile" class="btn btn-draft">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span id="Display_PackageImagesUpload" class="DisplayImage_Pack"></span>
                                </div>
                            </div>
                            <div class="formulation_table Packaging_Profile_Table" id="Packaging_Profile_Table">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <div class="ship_to" id="ship_address">
                    <div class="details_section">
                        <h4>Sustainability</h4>
                        <span style="color:red;display:none" id="Error_Sustainability" class="Error_EmptyGrid">Please enter atleast one data for Sustainability</span>
                        <div class="form_section">

                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Product <span class="color-red">*</span></label>
                                            @Html.DropDownListFor(model => model.SustainabilityProduct, new List<SelectListItem>(), "--Select--", new { @class = "form-control Sustainability", @id = "SUS_Product" })
                                            <span style="color:red; display:none" id="Error_SUS_Product" class="Error_Sustainability"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"> What sustainability goals are targeted? <span class="color-red">*</span></label>
                                            @Html.TextAreaFor(model => model.TargetedGoals, new { @class = "form-control Sustainability", @id = "SUS_TargetedGoals" })
                                            <span style="color:red; display:none" id="Error_SUS_TargetedGoals" class="Error_Sustainability">Please enter what sustainability goals are targeted? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Reusable</label>
                                            @Html.TextBoxFor(model => model.Reusable, new { @class = "form-control Sustainability", @id = "SUS_Reusable" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Recycle</label>
                                            @Html.TextBoxFor(model => model.Recycle, new { @class = "form-control Sustainability", @id = "SUS_Recycle" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Reducing</label>
                                            @Html.TextBoxFor(model => model.Reducing, new { @class = "form-control Sustainability", @id = "SUS_Reducing" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Recovering</label>
                                            @Html.TextBoxFor(model => model.Recovering, new { @class = "form-control Sustainability", @id = "SUS_Recovering" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group  mt-4 mb-0">
                                            <button type="button" id="Add_Sustainability" class="btn btn-draft">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class="row">
                                        <div class="m-table__main grid_height">
                                            <div class="m-table__responsive -virtual-scroll">
                                                <table id="Table_Sustainability" class="table table-bordered"></table>
                                                <div id="pager_Table_Sustainability"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="ship_to" id="ship_location">
                    <div class="details_section">
                        <h4>Business Information</h4>
                        <span style="color:red;display:none" id="Error_BusinessInformation" class="Error_EmptyGrid">Please enter atleast one data for Business Information</span>
                        <span id="Error_BI_Product_Sku" class="color-red Error_BusinessInformation"></span>
                        <div class="form_section">
                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Product <span class="color-red">*</span></label>
                                            @Html.DropDownListFor(model => model.BusinessInformationProduct, new List<SelectListItem>(), "--Select--", new { @class = "form-control BusinessInformation", @id = "BI_Product" })                                <span style="color:red; display:none" id="Error_FP_Product" class="Error_FormulationProfile">Please enter Product </span>
                                            <span style="color:red; display:none" id="Error_BI_Product"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">SKU <span class="color-red">*</span></label>
                                            @Html.DropDownListFor(model => model.BusinessInformationSku, new List<SelectListItem>(), "-Select-", new { @class = "form-control BusinessInformation", @id = "BI_SKU" })
                                            <span style="color:red; display:none" id="Error_BI_SKU" class="Error_BusinessInformation">Please select SKU </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Proposed launch date <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationProposedLaunchDate, new { @class = "form-control BusinessInformation data-datepicker", @id = "BI_ProposedLaunchDate", @autocomplete = "off" })
                                            @*<i class="fas fa-calendar-alt calender_icon"></i>*@
                                            <span style="color:red; display:none" id="Error_BI_ProposedLaunchDate" class="Error_BusinessInformation">Please enter Proposed launch date  </span>
                                            <span style="color:red; display:none" id="DateError_ProposedLaunchDate" class="Error_BusinessInformation">Select date which is greater than today's date' </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Proposed Selling Price <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationProposedSellingPrice, new { @class = "form-control BusinessInformation", @id = "BI_ProposedSellingPrice", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_ProposedSellingPrice" class="Error_BusinessInformation">Please enter Proposed Selling Price </span>
                                            <span style="color:red; display:none" id="NotNumber_ProposedSellingPrice" class="Error_BusinessInformation">Please enter Proposed Selling Price in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Expected COP <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationProposedTP, new { @class = "form-control BusinessInformation", @id = "BI_ProposedTP", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_ProposedTP" class="Error_BusinessInformation">Please enter Expected COP </span>
                                            <span style="color:red; display:none" id="NotNumber_ProposedTP" class="Error_BusinessInformation">Please enter Expected COP in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Proposed MRP <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationProposedMRP, new { @class = "form-control BusinessInformation", @id = "BI_ProposedMRP", @onkeypress = "return onlyNumbersforMRP(this);" })
                                            <span style="color:red; display:none" id="Error_BI_ProposedMRP" class="Error_BusinessInformation">Please enter Proposed MRP </span>
                                            <span style="color:red; display:none" id="NotNumber_ProposedMRP" class="Error_BusinessInformation">Please enter Proposed MRP in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Currency <span class="color-red">*</span></label>
                                            @Html.DropDownListFor(model => model.Currency, Model.CurrencyList, "--Select--", new { @class = "form-control BusinessInformation", @id = "BI_Currency" })
                                            <span style="color:red; display:none" id="Error_BI_Currency" class="Error_BusinessInformation">Please select Currency</span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Expected GP % <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationExpectedGP, new { @class = "form-control BusinessInformation", @id = "BI_ExpectedGP", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_ExpectedGP" class="Error_BusinessInformation">Please enter Expected GP % </span>
                                            <span style="color:red; display:none" id="NotNumber_ExpectedGP" class="Error_BusinessInformation">Please enter Expected GP in digits </span>
                                            <span style="color:red; display:none" id="Error_Range_ExpectedGP" class="Error_BusinessInformation">Expected GP should be in between 1 & 100 </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">M1 Quantity <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationM1Quantity, new { @class = "form-control BusinessInformation", @id = "BI_M1Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_M1Quantity" class="Error_BusinessInformation">Please enter M1 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_M1Quantity" class="Error_BusinessInformation">Please enter M1 Quantity in digits </span>
                                            <span style="color:red; display:none" id="Error_Zero_M1Quantity" class="Error_BusinessInformation">M1 Quantity should not be zero </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">M2 Quantity <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationM2Quantity, new { @class = "form-control BusinessInformation", @id = "BI_M2Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_M2Quantity" class="Error_BusinessInformation">Please enter M2 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_M2Quantity" class="Error_BusinessInformation">Please enter M2 Quantity in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">M3 Quantity <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationM3Quantity, new { @class = "form-control BusinessInformation", @id = "BI_M3Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_M3Quantity" class="Error_BusinessInformation">Please enter M3 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_M3Quantity" class="Error_BusinessInformation">Please enter M3 Quantity in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">M4 Quantity</label>
                                            @Html.TextBoxFor(model => model.BusinessInformationM4Quantity, new { @class = "form-control BusinessInformation", @id = "BI_M4Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_M4Quantity" class="Error_BusinessInformation">Please enter M4 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_M4Quantity" class="Error_BusinessInformation">Please enter M4 Quantity in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">M5 Quantity</label>
                                            @Html.TextBoxFor(model => model.BusinessInformationM5Quantity, new { @class = "form-control BusinessInformation", @id = "BI_M5Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_M5Quantity" class="Error_BusinessInformation">Please enter M5 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_M5Quantity" class="Error_BusinessInformation">Please enter M5 Quantity in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">M6 Quantity</label>
                                            @Html.TextBoxFor(model => model.BusinessInformationM6Quantity, new { @class = "form-control BusinessInformation", @id = "BI_M6Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_M6Quantity" class="Error_BusinessInformation">Please enter M6 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_M6Quantity" class="Error_BusinessInformation">Please enter M6 Quantity in digits </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Y1 Quantity <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationY1Quantity, new { @class = "form-control BusinessInformation", @id = "BI_Y1Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_Y1Quantity" class="Error_BusinessInformation">Please enter Y1 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_Y1Quantity" class="Error_BusinessInformation">Please enter Y1 Quantity in digits </span>
                                            <span style="color:red; display:none" id="Error_Zero_Y1Quantity" class="Error_BusinessInformation">Y1 Quantity should not be zero </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Y2 Quantity <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationY2Quantity, new { @class = "form-control BusinessInformation", @id = "BI_Y2Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_Y2Quantity" class="Error_BusinessInformation">Please enter Y2 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_Y2Quantity" class="Error_BusinessInformation">Please enter Y2 Quantity in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Y3 Quantity <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationY3Quantity, new { @class = "form-control BusinessInformation", @id = "BI_Y3Quantity", @onkeypress = "return onlyNumbers(this);" })
                                            <span style="color:red; display:none" id="Error_BI_Y3Quantity" class="Error_BusinessInformation">Please enter Y3 Quantity </span>
                                            <span style="color:red; display:none" id="NotNumber_Y3Quantity" class="Error_BusinessInformation">Please enter Y3 Quantity in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Business Value <span class="sku_note">(Y2 Quantity * Proposed Selling Price)</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationBusinessValue, new { @class = "form-control BusinessInformation", @id = "BI_BusinessValue", @readonly = "readonly" })
                                            <span style="color:red; display:none" id="Error_BI_BusinessValue" class="Error_BusinessInformation">Please enter Business Value </span>
                                            <span style="color:red; display:none" id="NotNumber_BusinessValue" class="Error_BusinessInformation">Please enter Business Value in digits </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">UOM <span class="color-red">*</span></label>
                                            @Html.TextBoxFor(model => model.BusinessInformationUom, new { @class = "form-control BusinessInformation", @id = "BI_UOM", @onkeypress = "return restrictSpecialCharacters();" })
                                            <span style="color:red; display:none" id="Error_BI_UOM" class="Error_BusinessInformation">Please enter UOM </span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group mb-0 mt-4">
                                            <button type="button" id="Add_BusinessInformation" class="btn btn-draft">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="">
                                    <div class="row">
                                        <div class="m-table__main grid_height">
                                            <div class="m-table__responsive -virtual-scroll">
                                                <table id="Business_Information" class="table table-bordered"></table>
                                                <div id="pager_businessinfo"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="ship_to" id="sd1">
                    <div class="details_section">
                        <h4>Supporting Documents</h4>
                        <div class="form_section">
                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Supporting Documents</label>
                                            <div class="demo-content SupprotingDoc">
                                                <input type="file" class="form-control file-input" accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.csv" id="Supportingdocuments" name="AttachSpecFile" onchange="return documentFileValidation()" />
                                                <span id="Err_SupportingDocuments" style="color:red;display:none">The file must be of type: .pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .csv</span>
                                                <span id="ErrorMsg_Document" style="color:red;display:none">Please select supporting document</span>
                                                <span id="GetDocName"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group mt-4 mb-0">
                                            <button type="button" id="Add_SupportingDocuments" class="btn btn-draft Add_SupportingDocuments">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class="row">
                                        <div class="m-table__main grid_height">
                                            <div class="m-table__responsive -virtual-scroll">
                                                <table id="Grid_Supporting_Document" class="table table-bordered"></table>
                                                <div id="pager_Grid_Supporting_Document"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="ship_to" id="init">
                    <div class="details_section">
                        <h4>Initiator Remarks</h4>
                        <div class="form_section">
                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.InitiatorRemarks, new { @name = "editor2", @class = "form-control form-control-sm", @id = "Npd_InitiatorRemarks", @cols = "30" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button_top float-right floating_buttons ">
            @if (Model.IsEdit)
            {
                @if (Model.Role != "PMD Team")
                 {
                    <button type="button" id="NPD_Save" class="btn btn-draft" data-bs-toggle="modal" data-title="Save" onclick="ValidateSaveForm()">Save as Draft</button>
                    <button type="button" id="NPD_SubmittoManagers" class="btn btn-approval" data-bs-toggle="modal" data-title="Submit" onclick="ValidateSendToManagerForm()">Send For Approval</button>
                    <button type="button" id="NPD_Submit" class="btn btn-hgml" data-bs-toggle="modal" data-title="Submit" onclick="ValidateSubmitForm()">Send To HGML</button>
                    <button type="button" id="NPD_Cancel" class="btn btn-cancel" data-bs-toggle="modal" data-bs-target="#CancelModal" data-title="Back"> Back</button>
                 }
            }

            </div>
    </section>
}

@*preview popup modal*@
<div id="preview" class="modal fade layout_popup preview" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Preview
                </h4>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="details_section">
                    <div class="form_section">
                        <div class="table-responsive">
                            <table class="table table-boardered">
                                <tr>
                                    <th class="tablewidth">Division</th>
                                    <td class="Division_V"></td>
                                </tr>
                                <tr>
                                <th class="tablewidth">Category</th>
                                <td class="Npd_Category_V"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="details_section">
                    <h4>Project Details</h4>
                    <div class="form_section">
                        <div class="table-responsive">
                            <table class="table table-boardered">
                                <tr>
                                    <th class="tablewidth">Project Name</th>
                                    <td class="Npd_ProjectName_V"></td>
                                </tr>
                                <tr>
                                    <th class="tablewidth">Business Objective</th>
                                    <td class="Npd_BusinessObjective_V"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="details_section">
                    <h4>
                        Product Positioning
                    </h4>
                    <div class="form_section">
                        <div class="table-responsive">
                            <table class="table table-boardered">
                                <tr>
                                    <th class="tablewidth">Target Consumer</th>
                                    <td class="PP_TargetConsumer_V"></td>
                                </tr>
                                <tr>
                                    <th class="tablewidth">Competitive Offerings</th>
                                    <td class="PP_CompetitiveOfferings_V"></td>
                                </tr>
                                <tr>
                                    <th class="tablewidth">Unmet Need</th>
                                    <td class="PP_UnmetNeed_V"></td>
                                </tr>
                            </table>
                            <div class="">
                                <div class="">
                                    <div class="row">
                                        <div class="m-table__main grid_height">
                                            <div class="m-table__responsive -virtual-scroll">
                                                <table id="Product_Positioning_V" class="table table-bordered"></table>
                                                <div id="pager_worksheet_V"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details_section">
                    <h4> Product Profile: Formulation Profile </h4>
                    <div class="form_section">
                        <div class="table-responsive">
                            <div class="formulation_table Formulation_Profile_Table" id="Formulation_Profile_Table"> </div>
                        </div>
                    </div>
                    <div class="details_section">
                        <h4> Product Profile: Packaging Profile </h4>
                        <div class="form_section">
                            <div class="formulation_table Packaging_Profile_Table" id="Packaging_Profile_Table"> </div>
                        </div>
                    </div>
                    <div class="details_section">
                        <h4> Sustainability </h4>
                        <div class="form_section">
                            <div class="table-responsive">
                                <div class="">
                                    <div class="">
                                        <div class="row">
                                            <div class="m-table__main grid_height">
                                                <div class="m-table__responsive -virtual-scroll">
                                                    <table id="Table_Sustainability_V" class="table table-bordered"></table>
                                                    <div id="pager_Table_Sustainability_V"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="details_section">
                        <h4> Business Information </h4>
                        <div class="form_section">
                            <div class="row mt-3">
                                <div class="col-auto mt-1">
                                    <label>Total Business Value (USD)</label>
                                </div>
                                <div class="col-auto">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.TotalBusinessValue, new { @class = "form-control TotalBusinessValue", @id = "BI_TotalBusinessValue", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-auto pd">
                                    <div class="btn-icon -edit mt-2" id="TotalBusinessValue" data-bs-toggle="modal" data-bs-target="#Business_Value" title="Total Business Value">
                                        <i class="fas fa-info-circle TotalBusinessValue_Icon" id="" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class="row">
                                        <div class="m-table__main grid_height">
                                            <div class="m-table__responsive -virtual-scroll">
                                                <table id="Business_Information_V" class="table table-bordered"></table>
                                                <div id="pager_businessinfo_V"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="details_section">
                        <h4> Supporting Documents </h4>
                        <div class="form_section">
                            <div class="table-responsive">
                                <div class="">
                                    <div class="">
                                        <div class="row">
                                            <div class="m-table__main grid_height">
                                                <div class="m-table__responsive -virtual-scroll">
                                                    <table id="Grid_Supporting_Document_V" class="table table-bordered"></table>
                                                    <div id="pager_Grid_Supporting_Document_V"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="NotInHubReview NotInHgmlApprove NotInPmdReview NotInApproved">
                        <div class="ship_to" id="init">
                            <div class="details_section">
                                <table class="table table-boardered">
                                    <tr>
                                        <th class="tablewidth">Initiator Remarks</th>
                                        <td class="Npd_InitiatorRemarks_V"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@*Delete button in jq grid*@
<div class="modal fade sv hd" id="jqGridRow_DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Delete Confirmation</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure You want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" id="jqGridRow_DeleteModal_Ok" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@*images popup*@
<div class="modal fade hd" id="Images_show_popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Packaging Images</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="add_grid_">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="uploaded_images_table" class="table table-bordered"></table>
                                        <div id="pager_uploaded_images_table"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Formulation multi images popup*@
<div class="modal fade hd" id="Images_show_popup1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Formulation Images</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="add_grid_">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="uploaded_images_table1" class="table table-bordered"></table>
                                        <div id="pager_uploaded_images_table1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hd" id="Document_show_popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Supporting Documents</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="add_grid_">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="Grid_Supporting_Document" class="table table-bordered"></table>
                                        <div id="pager_Grid_Supporting_Document"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*save button*@
<div class="modal fade sv hd" id="SaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Save Confirmation</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want save the details?
            </div>
            <div class="modal-footer">
                <button type="button" id="NPD_Save_Ok" class="btn btn-success">OK</button>
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



@*cancel button*@
<div class="modal fade sv hd" id="CancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Confirm Dialog</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to go back?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Content("./ProjectBrief")'">OK</button>
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*submit button*@
<div class="modal fade sv hd" id="SubmitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Submit Confirmation</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want Submit the details
            </div>
            <div class="modal-footer">
                <button type="button" id="NPD_Submit_Ok" class="btn btn-success">Ok</button>
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(document).scrollTop() >= 50) {
                $("body").addClass("test");
            } else {
                $("body").removeClass("test");
            }
        });
    });

    var prevSectionId = "";

    function moveToTop(sectionId, additionalClass) {
        var section = document.getElementById(sectionId);
        if (section) {
            var allLinks = document.querySelectorAll('.link_href a');
            allLinks.forEach(function (link) {
                link.classList.remove('active');
            });
            if (prevSectionId !== "") {
                var prevSection = document.getElementById(prevSectionId);
                if (prevSection) {
                    prevSection.classList.remove(additionalClass);
                }
            }
            var clickedLink = document.querySelector('.link_href a[href="#' + sectionId + '"]');
            if (clickedLink) {
                clickedLink.classList.add('active');
            }

            section.classList.add(additionalClass);

            var sectionTop = section.getBoundingClientRect().top + window.scrollY;
            window.scrollTo({ top: sectionTop, behavior: 'smooth' });

            prevSectionId = sectionId;
        }
    }
    function updateLabel(selectElement) {
        var label = selectElement.nextElementSibling;

        if (selectElement.value !== "") {
            label.style.top = "10px";
            label.style.fontSize = "12px";

            label.style.color = "#555";
        } else {
            label.style.top = "50%";
            label.style.fontSize = "16px";
            label.style.color = "";
        }

    }
    function highlightSection(sectionId) {
        document.querySelectorAll('.link_href li a').forEach(function (elem) {
            elem.classList.remove('active');
        });
        document.querySelector('.link_href li a[href="#' + sectionId + '"]').classList.add('active');
    }

    document.querySelectorAll('.ship_to').forEach(function (section) {
        var observer = new MutationObserver(function (mutations) {
            mutations.forEach(function (mutation) {
                if (mutation.attributeName === 'class') {
                    var sectionId = section.id;
                    if (section.classList.contains('highlight_section')) {
                        highlightSection(sectionId);
                    }
                }
            });
        });
        observer.observe(section, { attributes: true });
    });

    $('.body-content').scroll(function () {
        var sticky = $('.body-content'),
            scroll = $('.body-content').scrollTop();
        if (scroll >= 130) sticky.addClass('fixed');
        else sticky.removeClass('fixed');
    });

    document.addEventListener('DOMContentLoaded', function () {
        var sections = document.querySelectorAll('.ship_to');

        var observer = new IntersectionObserver(function (entries, observer) {
            entries.forEach(function (entry) {
                if (entry.isIntersecting) {
                    entry.target.classList.add('highlight_section');
                } else {
                    entry.target.classList.remove('highlight_section');
                }
            });
        }, { threshold: 0.5 });

        sections.forEach(function (section) {
            observer.observe(section);
        });
    });
</script>


<script src="@Url.Content("~/js/projectbrief/npd.js")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/projectbrief/NPDAutoSave.js")" asp-append-version="true"></script>