@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.SessionOptions> SessionOptions
@{
    var userName = Context.Session.GetString("UserName");
    var firstLetter = userName.Substring(0, 1);
    
    var timeout = SessionOptions.Value.IdleTimeout.TotalMinutes;
}
<!DOCTYPE html>
<html lang="en" class="skew">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISpace</title>

    <link rel="icon" type="image/x-icon" href="@Url.Content("~/N_assets/images/leaf.ico")" />
    <link rel="stylesheet" href="@Url.Content("~/N_assets/css/layout.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/N_assets/css/animate.min.css")" />
    <style>
        .datepicker .datepicker-days tr:hover td {
            background: transparent;
        }

            .datepicker .datepicker-days tr:hover td:hover {
                background: #e5e2e3;
            }
    </style>

    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/js/popper.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/js/bootstrap.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/jqgrid/js/grid.locale-en.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/jqgrid/js/jquery.jqgrid.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/jqgrid/js/jquery-ui.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/js/jqgrid.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/select2/select2.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/js/app.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/js/jquery.fullscreen-min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/Moment/moment.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/Layout.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/aes.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/jqgrid/jqzip/jszip.js")" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var ROOT = "@Url.Content("~/")";
    </script>

</head>

<body class="new_layout" id="jquery-script-menu">

    <div class="c-loader" id="loader">
        <div class="c-loader__container">
            <div class="c-loader__inner">
            </div>
            <div class="c-loader__outer">
            </div>
            <div class="c-loader__img">
            </div>
        </div>
    </div>

    <header id="topnav" class="header_section">
        <div class="ispace-logo">
            <a href="@Url.Content("~/Landing/Index")">
                <img src="@Url.Content("~/N_assets/images/ispace-logo.png")" alt="ispace" height="30px" />
            </a>
        </div>
        <div>
            <div class="d-flex">

                @*All tiles and page links*@
                <div>
                    <div class="header_nav ">
                        <div id="navigation">
                            <ul class="navigation-menu" id="main_menu">
                                @await Component.InvokeAsync("MainMenu")

                            </ul>
                        </div>
                    </div>
                </div>

                @*Logout*@
                <div>
                    <div class="d-flex align-items-center user_info top_position">
                        <div class="d-flex user_name_ cursor">
                            <span class="circular_icon" style="cursor: pointer">@firstLetter</span>
                            <label class="mb-0" style="cursor: pointer">@userName</label>
                            <span style="cursor: pointer">
                                <img src="@Url.Content("~/N_assets/images/himalaya_leaf logo.png")" width="22px" />
                            </span>
                            <div class="logout">
                                <ul>
                                    <li><a href="@Url.Content("~/Login/Logout")"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div class="container-fluid body-content element project_initiation_body" id="element">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        &copy; @DateTime.Now.Year - Himalaya Wellness Company. All rights reserved
    </footer>

    @*Confirm modal popup*@
    <div id="confirmpopup" class="modal fade layout_popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Box</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span id="confirmpopupmesssage"></span>
                    </div>
                    <div class="col-md-12 mt-2 p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" id="ConfirmOKbutton" data-bs-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-cancel confirm-cancel-btn" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Alert modal popup*@
    <div id="alertpopup" class="modal fade layout_popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Alert Box</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span id="popupmesssage"></span>
                    </div>
                    <div class="col-md-12 mt-2 p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Alter Session time out popup*@
    <div id="ReloginPopUp" class="modal fade layout_popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Session Expiry</h4>
                    @*<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>*@
                </div>
                <div class="modal-body">
                    <div>
                        <span>Your Session is about to expire in <span id="timeoutin" style="font-weight: bold;"></span>. Please click <span style="font-weight: bold;">OK</span> to keep alive</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-draft" id="ReloginPopUpOKbutton" data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-cancel" id="ReloginPopUpCanclebutton" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @*Unsaved changes popup*@
    <div id="UnsavedChangesAlert" class="modal fade tracker-support" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Alert</h6>
                    <button type="button" class="close" data-bs-dismiss="modal" id="unsavedchangesclose"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <span id="unsavedmessage">
                    </span>
                    <div class="col-md-12 mt-3 p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-draft" data-bs-dismiss="modal" id="saveunsavedchanges">Save</button>
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="continueunsavedchanges">Continue Anyway</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Modify data popup*@
    <div id="OnModifyDataAlter" class="modal fade tracker-support" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Alert</h6>
                    <button type="button" class="close" id="onmodifieddataclose" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <span id="modifying-msg">
                    </span>
                    <div class="col-md-12 mt-3 p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-draft" id="modifydata" data-bs-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-cancel" id="unmodifydata" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Save with Remarks popup*@
    <div id="save-with-remarks-popup" class="modal fade layout_popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Confirm Box</h6>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span id="save-with-remarks-msg"></span>
                    </div>
                    <div class="row mt-2 hide-remarks-div">
                        <div class="col-md-12">
                            <label class="control-label">Remarks <span class="text-danger star">*</span></label>
                            <textarea id="with-remarks-data" class="form-control"></textarea>
                            <span class="text-danger hide">Please enter Remarks</span>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3 p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-draft" id="save-confirm">Save</button>
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {

            var time = ((@timeout * 1000 * 60) - (2 * 1000 * 60));
            var timeout;
            var isLogout = false;

            timeout = setTimeout(function () {
                OpenInputDialog();
                var d = Date(Date.now());
                isLogout = true;
            }, time);

            $(document).on('click', function () {
                if (!isLogout) {
                    clearTimeout(timeout);
                    timeout = setTimeout(function () {
                        OpenInputDialog();
                        isLogout = true;
                    }, time);
                }
            });

        });

        var myInterval = 0;
        function OpenInputDialog() {
            $('#ReloginPopUp').modal('show');
            var seconds = 600;
            myInterval = setInterval(function () {
                if (seconds === 0) {
                    clearInterval(myInterval);
                    $('#ReloginPopUpCanclebutton').click();
                }
                else {
                    var time = moment().startOf('day')
                        .seconds(seconds)
                        .format('mm:ss');
                    $('#timeoutin').text(time)
                }
                seconds = seconds - 1
            }, 1000);
        };

        $('#ReloginPopUpOKbutton').click(function () {
            clearInterval(myInterval);
            $.ajax({
                type: 'GET',
                url: ROOT + "Login/AutoLogin",
                data: "",
                datatype: "text",
                success: function (data) {
                    isLogout = false;
                    console.log("Auto logged in successfully");
                    alert(data);
                },
                error: function (res) {
                    console.log("Error occured, please relogin again.");
                    window.location = ROOT + "Login/LogOff"
                },
            });
        });

        $('#ReloginPopUpCanclebutton').click(function () {
            window.location = ROOT + "Login/LogOff"
        });

        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "#");
            path = decodeURIComponent(path);

            $("#main_menu li a, #main_menu1 li a").each(function () {
                var href = $(this).attr('href');
                var subURL = $(this).attr('data-subURL');
                var URLs = '';
                if (subURL != undefined) {
                    URLs = subURL.split(';');
                }

                if (path === href || URLs.indexOf(path) >= 0) {
                    if ($(this).parents('#main_menu, #main_menu1').length >= 1) {
                        $(this).parents('li').addClass('active');
                    }
                    else {
                        $(this).addClass('activeparents');
                        $(this).parents('li').addClass('activeparents');
                    }
                }
            });
        }
        setNavigation();

        $(".fullscreen-btn").on("click", function () {
            $("#fullscreen").addClass("m-table__full-screen");
        });
        $(".exitscreen-btn").on("click", function () {
            $("#fullscreen").removeClass("m-table__full-screen");
        });

        function toggleFullScreen(elem) {
            if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) || (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) || (document.mozFullScreen !== undefined && !document.mozFullScreen) || (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
                if (elem.requestFullScreen) {
                    elem.requestFullScreen();
                } else if (elem.mozRequestFullScreen) {
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullScreen) {
                    elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                } else if (elem.msRequestFullscreen) {
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            }
        }

        $(".tile_projects a").click(function () {
            $(this).closest("li").addClass("active");
        });

        $(".menuhamburger a").click(function () {
            $(this).toggleClass("active");
            $(".main-menu").toggleClass("menu_left");
        });

        $(".navigation-menu li").click(function () {
            $(this).toggleClass("submenu_open");
            $(".navigation-menu li").not(this).removeClass("submenu_open");
        });

        $(function () {
            $(".fullscreen-supported").toggle($(document).fullScreen() != null);
            $(".fullscreen-not-supported").toggle($(document).fullScreen() == null);

            $(document).on("fullscreenchange", function (e) {
                $("#jquery-script-menu").toggleClass("fullscreen_btn");
            });
            $(document).on("fullscreenerror", function (e) {
            });

        });

        $("#global-search").on("keyup", function () {
            var searchText = $(this).val().toLowerCase();
            $(".nav-link").each(function () {
                var tabText = $(this).text().toLowerCase();
                if (tabText.indexOf(searchText) !== -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        function handelConfirmPopup(msg, func) {
            $('#confirmpopupmesssage').empty().html(msg);
            $('#confirmpopup').modal('show');
            if (func) {
                $("#ConfirmOKbutton").unbind("click");
                $('#ConfirmOKbutton').on("click", func);
            }
        }

        function UnsavedDataAlert(msg, func, func1) {
            $('#unsavedmessage').empty().html(msg);
            $('#UnsavedChangesAlert').modal('show');
            if (func) {
                $("#saveunsavedchanges").unbind("click");
                $('#saveunsavedchanges').on("click", func);
            }
            if (func1) {
                $("#continueunsavedchanges").unbind("click");
                $('#continueunsavedchanges').on("click", func1);
            }
        }

        function OnModifyDataAlterAlert(msg, func, func1) {
            if ($('#OnModifyDataAlter').hasClass('show') || $('#OnModifyDataAlter').css('display') === 'block') {
                $('#OnModifyDataAlter').on('hidden.bs.modal', function () {
                    showAlterModal(msg, func, func1);
                    $(this).off('hidden.bs.modal');
                });
                $('#OnModifyDataAlter').modal('hide');
            } else {
                showAlterModal(msg, func, func1);
            }
        }

        function showAlterModal(msg, func, func1) {
            $('#OnModifyDataAlter').off('hidden.bs.modal');
            $('#modifying-msg').empty().html(msg);
            $('#OnModifyDataAlter').modal('show');

            if (func) {
                $("#modifydata").unbind("click").on("click", func);
            }
            if (func1) {
                $("#unmodifydata").unbind("click").on("click", func1);
                $("#onmodifieddataclose").unbind("click").on("click", func1);
            }
        }

        function handelConfirmRemarksPopup(msg, func) {
            $('#save-with-remarks-msg').empty().html(msg);
            $("#with-remarks-data").val("");
            $("#with-remarks-data").siblings('span').addClass('hide');
            $('#save-with-remarks-popup').modal('show');

            if (func) {
                $("#save-confirm").unbind("click");
                $('#save-confirm').on("click", func);
            }
        }

        function IsValidData(data) {
            data = data.trim();
            if (data != "" && data != null && data != undefined) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>

</body>

</html>