@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.SessionOptions> SessionOptions
@{

    var userName = Context.Session.GetString("UserName");
    var firstLetter = userName.Substring(0, 1);
    var AppshortName = Context.Session.GetString("AppShortName");
    var role = Context.Session.GetString("Role");
    var timeout = SessionOptions.Value.IdleTimeout.TotalMinutes;
}
<!DOCTYPE html>
<html lang="en" class="skew">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISpace</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/N_assets/images/leaf.ico")" />
    <link href="@Url.Content("~/N_assets/css/layout.min.css")" rel="stylesheet" /> 
     <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" /> 
    <link href="~/N_assets/css/animate.min.css" rel="stylesheet" />
    @*<link href="~/N_assets/images/Flaticons/flaticon_ispace.css" rel="stylesheet" />*@
    <style>
        .datepicker .datepicker-days tr:hover td {
            background: transparent;
        }

            .datepicker .datepicker-days tr:hover td:hover {
                background: #e5e2e3;
            }
    </style>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/N_assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/N_assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/N_assets/plugins/jqgrid/js/grid.locale-en.min.js")"></script>
    <script src="@Url.Content("~/N_assets/plugins/jqgrid/js/jquery.jqgrid.min.js")"></script>
    <script src="@Url.Content("~/N_assets/plugins/jqgrid/js/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/N_assets/js/jqgrid.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/select2/select2.min.js")"></script>
    <script src="@Url.Content("~/N_assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js")"></script>
    <script src="@Url.Content("~/N_assets/plugins/Moment/moment.js")"></script>
    <script src="@Url.Content("~/N_assets/js/app.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/N_assets/js/jquery.fullscreen-min.js")"></script>
    <script src="@Url.Content("~/N_assets/plugins/jqgrid/jqzip/jszip.js")"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var ROOT = "@Url.Content("~/")";
    </script>
    <link href="https://www.codehim.com/demo/bootstrap-multiselect-dropdown/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <script src="@Url.Content("~/js/Layout.min.js")" asp-append-version="true"></script>
</head>
<body class="new_layout" id="jquery-script-menu">
    <div class="c-loader" id="loader">
        <div class="c-loader__container">
            <div class="c-loader__inner">
            </div>
            <div class="c-loader__outer">
            </div>
            <div class="c-loader__img">
            </div>
        </div>
    </div>
    <header id="topnav" class="header_section">
        @*header logo container starts*@
        <div class="ispace-logo">
            <a href="@Url.Content("~/Landing/Index")">
                <img src="~/N_assets/images/ispace-logo.png" alt="ispace" height="30px" />
            </a>
        </div>
        <!-- end container -->
        <div>
            <div class="d-flex">

                @*dashboard all modules link and page links*@
                <div>
                    <div class="header_nav">
                        <div id="navigation">
                            <ul class="navigation-menu" id="main_menu">

                                @await Component.InvokeAsync("MainMenu")

                                @if (@role.ToLower() == "admin")
                                {
                                    <li class="has-submenu">
                                        <a href="@Url.Content("~/NewDashboard/Dashboard")">Dashboard </a>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="@Url.Content("~/NewInnovation/YourInnovation")">Your Innovation </a>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="@Url.Content("~/NewIdeation/Ideation")"> Ideation</a>
                                    </li>

                                }
                                else if (@role.ToLower() == "view ideation")
                                {
                                    <li class="has-submenu">
                                        <a href="@Url.Content("~/NewDashboard/Dashboard")">Dashboard </a>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="@Url.Content("~/NewIdeation/Ideation")"> Ideation</a>
                                    </li>

                                }
                                else
                                {
                                    <li class="has-submenu">
                                        <a href="@Url.Content("~/NewInnovation/YourInnovation")">Your Innovation </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>

                @*Logout*@
                <div>
                    <div class="d-flex align-items-center user_info top_position">
                        <div class="d-flex user_name_ cursor">
                            <span class="circular_icon" style="cursor: pointer">@firstLetter</span>
                            <label class="mb-0" style="cursor: pointer">@userName</label>
                            <span style="cursor: pointer">
                                <img src="@Url.Content("~/N_assets/images/himalaya_leaf logo.png")" width="22px" />
                            </span>
                            <div class="logout">
                                <ul>
                                    <li><a href="@Url.Content("~/Login/Logout")"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--<div class="menu-section">-->
    @*<span class="menu_name">Menu's</span>*@
    <!--<ul>
            <li><a href=""><i class="fas fa-cog"></i> <span class="menu_item">Claim Grid</span></a></li>
        </ul>
    </div>-->
    <div class="container-fluid body-content element " id="element">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted ">
        &copy; @DateTime.Now.Year - Himalaya Wellness Company. All rights reserved
    </footer>
    @*Confirm modal popup*@
    <div id="confirmpopup" class="modal fade layout_popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xs">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Box</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span id="confirmpopupmesssage">Are you sure u want submit</span>
                    </div>
                    <div class="col-md-12 mt-2 p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-draft" id="ConfirmOKbutton" data-bs-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="Confirmcancelbutton">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Alter Session time out popup*@
    <div id="ReloginPopUp" class="modal fade layout_popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Session Expiry</h4>
                    @*<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>*@
                </div>
                <div class="modal-body">
                    <div>
                        <span>Your Session is about to expire in <span id="timeoutin" style="font-weight: bold;"></span>. Please click <span style="font-weight: bold;">OK</span> to keep alive</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-draft" id="ReloginPopUpOKbutton" data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-cancel" id="ReloginPopUpCanclebutton" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @*Alert modal popup*@
    <div id="alertpopup" class="modal fade layout_popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xs">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Alert Box</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span id="popupmesssage">Are you sure u want Cancel</span>
                    </div>
                    <div class="col-md-12 mt-2 p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Alter Session time out popup*@
    <div id="ReloginPopUp" class="modal fade layout_popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Session Expiry</h4>
                    @*<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>*@
                </div>
                <div class="modal-body">
                    <div>
                        <span>Your Session is about to expire in <span id="timeoutin" style="font-weight: bold;"></span>. Please click <span style="font-weight: bold;">OK</span> to keep alive</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-draft" id="ReloginPopUpOKbutton" data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-cancel" id="ReloginPopUpCanclebutton" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script>
         var ROOT = "@Url.Content("~/")";
    </script>
    <script>
        $(function () {
    debugger;
    var time = ((@timeout * 1000 * 60) - (2 * 1000 * 60));
    var timeout;
    var isLogout = false;
    timeout = setTimeout(function () {
        //-- show warning dialog
        OpenInputDialog();
        var d = Date(Date.now());
        console.log(d.toString());
        isLogout = true;
    }, time);
    $(document).on('click', function () {
        if (!isLogout) {
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                //-- show warning dialog
                OpenInputDialog();
                isLogout = true;
            }, time);
        }
    });
})
var myInterval = 0;
function OpenInputDialog() {
    $('#ReloginPopUp').modal('show');
    var seconds = 600;
    myInterval = setInterval(function () {
        if (seconds === 0) {
            clearInterval(myInterval);
            $('#ReloginPopUpCanclebutton').click();
        }
        else {
            var time = moment().startOf('day')
                .seconds(seconds)
                .format('mm:ss');
            $('#timeoutin').text(time)
        }
        seconds = seconds - 1
    }, 1000);
};
        $('#ReloginPopUpOKbutton').click(function () {
            clearInterval(myInterval);
            $.ajax({
                type: 'GET',
                url: ROOT + "Login/AutoLogin",
                data: "",
                datatype: "text",
                success: function (data) {
                    isLogout = false;
                    console.log("Auto logged in successfully");
                    alert(data);
                }, error: function (res) {
                    console.log("Error occured, please relogin again.");
                    //alert("Please login again");
                    window.location = ROOT + "Login/LogOff"
                },
            });
        });



$('#ReloginPopUpCanclebutton').click(function () {
    window.location = ROOT + "Login/LogOff"
});

        //active class
        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "#");
            path = decodeURIComponent(path);
            //path = path.split('/')[2];

            $("#main_menu li a, #main_menu1 li a").each(function () {
                var href = $(this).attr('href');
                var subURL = $(this).attr('data-subURL');
                var URLs = '';
                if (subURL != undefined) {
                    URLs = subURL.split(';');
                }

                //href = href.split('/')[2];
                if (path === href || URLs.indexOf(path) >= 0) {
                    if ($(this).parents('#main_menu, #main_menu1').length >= 1) {
                        $(this).parents('li').addClass('active');
                        //$(this).parents(".has-menu").addClass('active');
                        //$(this).parents('.has-menu').last().addClass('activeparents');
                    }
                    else {
                        $(this).addClass('activeparents');
                        $(this).parents('li').addClass('activeparents');
                    }
                }
            });
        }
        setNavigation();
    </script>
    <script>


        $(".fullscreen-btn").on("click", function () {
            $("#fullscreen").addClass("m-table__full-screen");
        });
        $(".exitscreen-btn").on("click", function () {
            $("#fullscreen").removeClass("m-table__full-screen");
        });

        //const body = document.querySelector('html');
        //const button = document.querySelector('.btn_dark');
        function toggleFullScreen(elem) {
            if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) || (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) || (document.mozFullScreen !== undefined && !document.mozFullScreen) || (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
                if (elem.requestFullScreen) {
                    elem.requestFullScreen();
                } else if (elem.mozRequestFullScreen) {
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullScreen) {
                    elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                } else if (elem.msRequestFullscreen) {
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            }
        }



        // function to set a given theme/color-scheme
        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }

        // function to toggle between light and dark theme
        function toggleTheme() {
            if (localStorage.getItem('theme') === 'dark') {
                setTheme('theme-light');
            } else {
                setTheme('dark');
            }
        }

        // Immediately invoked function to set the theme on initial load
        (function () {
            if (localStorage.getItem('theme') === 'dark') {
                setTheme('dark');
                document.getElementById('slider').checked = false;
            } else {
                setTheme('theme-light');
                document.getElementById('slider').checked = true;
            }
        })();

        var $TableHeight = $(".ui-jqgrid-bdiv").find("tbody").height();
        if ($TableHeight > 230) {
            $(".ui-jqgrid").find(".ui-jqgrid-bdiv").css("overflow", "auto");
            $(".-virtual-scroll").find(".ui-jqgrid-hdiv").css("padding-right", "4px");
        }
        else {
            $(".ui-jqgrid").find(".ui-jqgrid-bdiv").css("overflow", "auto");
            $(".-virtual-scroll").find(".ui-jqgrid-hdiv").css("padding-right", "0px")
        }

    </script>
    <script>
        $(".logout").click(function () {
            $(".theme-light").addClass("switch");
            $(".dark").addClass("switch");
            $(".switch_login").addClass("switch1");
        });
        $(".tile_projects a").click(function () {
            $(this).closest("li").addClass("active");
        });
        //document.getElementById("logout-button").addEventListener("click", function () {
        //    // Send a signal to the login page by setting a class on its <html> tag
        //    window.opener.document.documentElement.classList.add("logout-clicked");
        //});
        //document.getElementById("logout-button").addEventListener("click", function () {
        //    // Redirect to the login page
        //    window.location.href = "/Account/login"; // Replace with the actual login page URL
        //});
        //$(".menutopright").hover(function () {
        //    $(".main-menu").toggleClass("menu-list");
        //    $(".menuhamburger a").toggleClass("active");
        //});
        //$("#main_menu").click(function(){
        //    $(this).toggleClass("active");
        //}
        $(".menuhamburger a").click(function () {
            $(this).toggleClass("active");
            $(".main-menu").toggleClass("menu_left");
        });
        //$(".menuhamburger a").click(function () {
        //    $(".main-menu").toggleClass("menu_left");
        //});

        $(".navigation-menu li").click(function () {
            $(this).toggleClass("submenu_open");
            $(".navigation-menu li").not(this).removeClass("submenu_open");
        });


        $(function () {

            $(".fullscreen-supported").toggle($(document).fullScreen() != null);
            $(".fullscreen-not-supported").toggle($(document).fullScreen() == null);

            $(document).on("fullscreenchange", function (e) {
                console.log("Full screen changed.");
                $("#jquery-script-menu").toggleClass("fullscreen_btn");
            });

            $(document).on("fullscreenerror", function (e) {

            });

        });

        $('.ui-jqgrid-bdiv').css({ 'max-height': 'calc(100vh - 270px)' });
        $('.ui-jqgrid-bdiv').children("div").css({ 'min-height': '0vh' });
        var $TableHeight = $(".ui-jqgrid-bdiv").find("tbody").height();
        if ($TableHeight > 130) {
            $(".ui-jqgrid").find(".ui-jqgrid-bdiv").css("overflow", "auto");
            $(".-virtual-scroll").find(".ui-jqgrid-hdiv").css("padding-right", "4px");
        }
        else {
            $(".ui-jqgrid").find(".ui-jqgrid-bdiv").css("overflow", "auto");
            $(".-virtual-scroll").find(".ui-jqgrid-hdiv").css("padding-right", "0px")
        }

        $(".mobile_menu").click(function () {
            $(".navigation-menu").toggleClass('menu_toggle');


        })
    </script>

</body>
</html>
