@{
    var role = Context.Session.GetString("Role");
    var userName = Context.Session.GetString("LoggedUserName");
    var MenuActive = Context.Session.GetString("MenuActive");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ideation</title>
    <link rel="icon" type="image/x-icon" sizes="16x16" href="@Url.Content("~/images/leaf.ico")">
    <link href="@Url.Content("~/Fonts/fontawesome/css/fontawesome.min.css")" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugins/jqgrid/css/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugins/jqgrid/css/ui.jqgrid.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugins/bootstrap-multiselect/bootstrap-multiselect.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugins/select2/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/Style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets_cg/common.css")" rel="stylesheet" />

    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/plugins/popper.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/plugins/moment/moment.js")"></script>
    <script src="@Url.Content("~/plugins/jqgrid/js/grid.locale-en.min.js")"></script>
    <script src="@Url.Content("~/plugins/jqgrid/js/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/plugins/jqgrid/js/jquery.jqgrid.min.js")"></script>
    <script src="@Url.Content("~/N_assets/js/jqgrid.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js")"></script>
    <script src="@Url.Content("~/plugins/select2/select2.min.js")"></script>
    <script src="@Url.Content("~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/autocomplete/autocomplete.js")"></script>
    <script src="@Url.Content("~/assets_eppm/plugins/jqgrid/js/jszip.min.js")"></script>
    <script src="@Url.Content("~/js/aes.js")"></script>
    <script src="@Url.Content("~/js/layout.js")" asp-append-version="true"></script>

    @Html.AntiForgeryToken()

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        var ROOT = "@Url.Content("~/")";

    </script>

    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: scroll !important
        }
 
    </style>
</head>

<body>
    <style>
        .ui-jqgrid .ui-jqgrid-btable tr.jqgrow td.resources_td {
            overflow: revert !important;
        }

        .nav li:hover .nav-second-level {
            z-index: 1;
        }
    </style>

    <div class="c-loader" id="loader">
        <div class="c-loader__container">
            <div class="c-loader__inner"></div>
            <div class="c-loader__outer"></div>
            <div class="c-loader__img"></div>
        </div>
    </div>

    <div>
        <div id="wrapper">

            <nav class="navbar navbar-fixed-top pl-0 pr-0">
                <div class="container-fluid margin_header p-0">

                    <div class="navbar-brand ps-2 p-0">
                        <a href="@Url.Content("~/Landing/Index")">
                            <img src="@Url.Content("~/images/logohmnew.png")" class="lg_im" />
                            <span class="home_main" title="Home"><i class="fas fa-home"></i></span>
                        </a>
                    </div>

                    <div class="d-flex flex-grow-1 align-items-center">
                        <div role="navigation">
                            <div class="sidebar-nav navbar-collapse">
                                <ul class="nav" id="main_menu">

                                    <li class="has-menu prototype_4">
                                        <a href="@Url.Content("~/ProjectMaster/ProjectMaster")" data-subURL="@Url.Content("~/ProjectMaster/AddProject")" class="waves-effect">
                                            <i class="fas fa-random"></i><span class="hide-menu"> Project Initiation</span>
                                        </a>
                                    </li>

                                    @if (role != "DeptTL" && role != "L1 Approver"
                                   && role != "HOD" && role != "View Role")
                                    {

                                        <li class="has-menu prototype_4">
                                            <a href="javascript:void(0);" class="waves-effect">
                                                <i class="fas fa-flag" data-icon="v"></i>
                                                <span class="hide-menu"> Masters<i class="fas fa-angle-down"></i><span class="fa arrow"></span></span>
                                            </a>
                                            <ul class="nav nav-second-level" style="width:100px;">
                                                <li>
                                                    <a href="@Url.Content("~/ProjectMaster/RoleHODMaster")" class="waves-effect">
                                                        <span class="hide-menu">Role HOD Master</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Content("~/ProjectMaster/RoleCostCenterMaster")" id="roleCostCenterLink" class="waves-effect">
                                                        <span class="hide-menu">Role Cost Center</span>
                                                    </a>

                                                </li>
                                                <li>
                                                    <a href="@Url.Content("~/ProjectMaster/RoleTeamMaster")" id="" class="waves-effect">
                                                        <span class="hide-menu">Role Team Master</span>
                                                    </a>

                                                </li>
                                                <li>
                                                    <a href="@Url.Content("~/ProjectMaster/BudgetPlanning")" id="" class="waves-effect">
                                                        <span class="hide-menu">Budget Planning</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }

                                    @if (role != "View Role"  && role != "DeptTL")
                                    {
                                        <li class="has-menu prototype_4">
                                            <a href="@Url.Content("~/ProjectMaster/TemplateMasters")" class="waves-effect">
                                                <i class="fas fa-layer-group"></i><span class="hide-menu">Template Resource Master</span>
                                            </a>
                                        </li>

                                        <li class="has-menu prototype_4">
                                            <a href="@Url.Content("~/ProjectMaster/ProjectResources")" class="waves-effect">
                                                <i class="fas fa-snowflake-o"></i><span class="hide-menu">Project Resource Master</span>
                                            </a>
                                        </li>
                                    }

                                    @if (@MenuActive == "True")
                                    {
                                        <li class="has-menu prototype_4">
                                            <i class="fas fa-dollar"></i><span class="hide-menu">Project Budget<i class="fas fa-angle-down"></i></span>

                                            <ul class="nav nav-second-level" style="width:100px;">

                                                <li>
                                                    <a href="@Url.Content("~/ProjectBudgetReport/BudgetPBReport")" class="waves-effect">
                                                        <span class="hide-menu">Budget Report</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Content("~/ProjectMaster/ProjectBudgetDetailsList")" class="waves-effect">
                                                        <span class="hide-menu">Project Budget Details</span>
                                                    </a>
                                                </li>

                                                @if (role == "DeptTL" ||
role == "Admin" ||
role == "HOD")
                                                {
                                                    <li>
                                                        <a href="@Url.Content("~/ProjectMaster/BudgetRequestList")" class="waves-effect">
                                                            <span class="hide-menu">Budget Request</span>
                                                        </a>
                                                    </li>
                                                }

                                                @if (role == "L1 Approver" ||
                                 role == "Admin" ||
                                  role == "L1&L2 Approver")
                                                {
                                                    <li>
                                                        <a href="@Url.Content("~/ProjectMaster/BudgetApprovalPhase1")" class="waves-effect">
                                                            <span class="hide-menu">Budget Approval</span>
                                                        </a>
                                                    </li>
                                                }

                                                @if (role == "L2 Approver" ||
                                  role == "L1&L2 Approver" ||
                                 role == "Admin")
                                                {
                                                    <li>
                                                        <a href="@Url.Content("~/ProjectMaster/BudgetApprovalPhase2")" class="waves-effect">
                                                            <span class="hide-menu">Budget Approval - L2</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Content("~/ProjectMaster/BudgetTransferList")" class="waves-effect">
                                                            <span class="hide-menu">Budget Transfer</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="flex-grow-1 right_header">
                        <div class="d-flex justify-content-end align-items-center">
                            <ul class="navbar-nav admin_nav">
                                <li class="dropdown admin_dropdown dis_flex">
                                    <span class="usr_nmr">@userName</span>
                                    <a class="dropdown-toggle icon-menu" href="@Url.Content("#")" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="@Url.Content("~/images/user.png")" class="usr_img">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end p-2 shadow ">
                                        <li><a class="dropdown-item" href="@Url.Content("~/Login/Login")"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    <footer class="p-2">
        <p class="text-uppercase m-0 ft_size">&copy; @DateTime.Now.Year - IT Department, Himalaya Wellness Company, All Rights Reserved</p>
    </footer>

    <div class="modal fade sv hd" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Delete Confirmation</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure You want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                    <button type="button" class="btn btwar btn-warning" onclick="location.href = '/NewInitiation/NewInitiation';">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade sv hd" id="confirmpopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Delete Confirmation</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="ConfirmDialogMessage" class="modal-body">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="delete-buttonclass delete_btn" data-dismiss="modal" id="ConfirmOKbutton" style="background-color:red;">Delete</button>
                    <button type="button" class="btn btwar btn-warning" data-bs-dismiss="modal" id="ConfirmCanclebutton">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade sv hd" id="AlertDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Alert</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="AlertDialogMessage">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-rej" data-bs-dismiss="modal" data-title="Cancel">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);

            $("#main_menu li a, #main_menu1 li a").each(function () {
                var href = $(this).attr('href');
                var subURL = $(this).attr('data-subURL');
                var URLs = '';
                if (subURL != undefined) {
                    URLs = subURL.split(';');
                }
                if (path === href || URLs.indexOf(path) >= 0) {
                    if ($(this).parents('#main_menu, #main_menu1').length >= 1) {
                        $(this).parents('li').addClass('active');
                    }
                    else {
                        $(this).addClass('activeparents');
                        $(this).parents('li').addClass('activeparents');
                    }
                }
            });
        }

        setNavigation();

        $(document).on('keyup', '.number', function () {
            this.value = this.value.replace(/[^0-9\.]/g, '').match(/^\d+\.?\d{0,3}/);
        });

        function alert(message) {
            $("#AlertDialog").modal('show');
            $('#AlertDialogMessage').html(message);
        }

    </script>
</body>
</html>