@model Ideation.Models.RID
@{
    ViewData["Title"] = "Cosmetics RID Approval";
    Layout = "/Views/Shared/N_RIDLayout.cshtml";
    var UserApprovalLevel = Model.UserApprovalLevel;
    var pageName = Model.UserApprovalLevel != "" ? "- " + Model.PageName : "";
    var division = Model.DivisionName == "COSMETICS/PERSONAL CARE" ? "COSMETICS" : Model.DivisionName;
}

<style>
    .m-table__main .table .jqgfirstrow td {
        padding: 0px !important;
    }
    .jqgfirstrow {
        display: contents;
    }
</style>

@*header link*@
<section>
    <div class="">
        <div class="-m_title_ ">
            <h4>
                <span>
                    <a href="@Url.Content("~/Landing/Index")">Home/ </a>
                    <a href="@Url.Content("~/NewRID/RIDIndex")">@division/ </a>
                </span>
                G C @pageName
            </h4>
        </div>
    </div>
</section>

@*hidden fields*@
<section>
    @Html.HiddenFor(m => m.Approve_DivisionBasedIngredientListJson)
    @Html.HiddenFor(m => m.UserApprovalLevel)
    @Html.HiddenFor(m => m.PageName)
</section>

@*To show response message*@
<section>
    @if (TempData["Message"] != null)
    {
        <div class="alert @TempData["MessageClass"].ToString() alert-dismissible d-flex justify-content-between" role="alert" id="message_alert">
            @TempData["Message"].ToString()
            <button type="button" class="close" data-bs-dismiss="alert"><span>&times;</span></button>
        </div>
    }
</section>

@*list grid*@
<section>
    @if (UserApprovalLevel != "" && UserApprovalLevel != null)
    {
        <div class="mt-2">
            <div class="d-flex justify-content-between align-items-center">

                <div class="d-flex">
                    @if (UserApprovalLevel.ToLower() == "level1")
                    {
                        @Html.HiddenFor(m => m.MostRecentRemark)
                        <span class="ml-1">
                            Remarks
                            <button id="Level2_Remarks" title="Remarks" type="button" style="background:transparent;border:none;">
                                <i class="fas fa-list" aria-hidden="true" style="color:blue;"></i>
                            </button>
                        </span>
                    }
                </div>

                <div class="d-flex justify-content-end align-items-center">

                    <div class="d-flex">
                        <div class="ingradient_edited mr-2">
                            <label class="mb-0"><span></span> Ingredients Edited</label>
                        </div>
                        <div class="ingradient_edited rollback_ingre mr-2">
                            <label class="mb-0"><span></span> Ingredients Rollback</label>
                        </div>
                    </div>

                    <div class="legends_list circle_list ">
                        <ul class="d-flex">
                            <li><span class="purple_circle"></span> HGML approval required</li>
                            <li><span class="green_circle"></span> Allowed</li>
                            <li><span class="yellow_circle"></span> Restricted</li>
                            <li><span class="red_circle"></span> Prohibited</li>
                        </ul>
                    </div>

                    <div class="d-flex excel_expand align-items-center">
                        <div>
                            <div class="expand_initiate table_expand">
                                <div>
                                    <button onclick="$(document).toggleFullScreen()" class="js-toggle-fullscreen-btn toggle-fullscreen-btn">
                                        <i class="fas fa-expand fullscreen_expand fullscreen-btn" title="Enter FullScreen Mode"></i>
                                        <i class="fas fa-times fullscreen_minimize exitscreen-btn" title="Exit FullScreen Mode"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="animate__animated2 slideInUp mt-2 rid_approval">
            <div class="">
                <div class="">
                    <div class="m-table__main" id="">
                        <div class="m-table__responsive -virtual-scroll">
                            <table id="Approve_IngredientListGrid" class="table table-bordered"></table>
                            <div id="Approve_IngredientListGrid_Pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button_top pull-right mt-2">

            <div class="text-right">
                @if (UserApprovalLevel.ToLower() == "level2")
                {
                    <button type="button" class="btn btn-draft" id="revertbtn">Roll Back</button>
                }
                @if (UserApprovalLevel.ToLower() == "level1")
                {
                    <button type="button" class="btn btn-draft" id="revertbtn">Roll Back</button>
                    <button type="button" class="btn btn-draft" id="saveasdraftbtn">Save As Draft</button>
                }
                <button type="button" class="btn btn-draft" id="approvebtn">Submit</button>
                <button type="button" class="btn btn-cancel" id="cancelbtn">Cancel</button>
            </div>

        </div>
    }
</section>

@*unauthorize page message*@
<section>
    @if (UserApprovalLevel == "" || UserApprovalLevel == null)
    {
        <div class="alert alert-danger alert-dismissable">
            <div class="d-flex" style="justify-content:center">
                <bold> Oops, you are not authorized for the approval </bold>
            </div>
        </div>
    }
</section>

@*page modals*@
<section>

    <div class="modal fade" id="Approve_ParticularIngredientDetailsModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog tfo_app aa ingredients_add modal-xl update_form edit_form">
            <div class="modal-content appt">

                <div class="modal-header">
                    <h4 class="modal-title">
                        View Ingredient Remarks
                    </h4>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>

                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Ingredient Name : <span><strong id="Approve_ActiveIngredientName"></strong></span></label>
                            </div>
                            <div class="col-md-8">
                                <label>Synonyms: <span><strong id="Approve_Synonyms"></strong></span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>CAS Number: <span><strong id="Approve_CAS"></strong></span></label>
                            </div>
                            <div class="col-md-8">
                                <label>Functions: <span><strong id="Approve_Functions"></strong></span></label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <section class="icon_description">
                                <div class="status_icons_ pull-right">
                                    <i class='purple_circle'></i>&nbsp; HGML approval required &nbsp;<i class='green_circle'></i>&nbsp; Allowed &nbsp;<i class='yellow_circle'></i>&nbsp; Restricted &nbsp; <i class='red_circle'></i>&nbsp; Prohibited &nbsp;
                                </div>
                            </section>
                        </div>
                        <div class="row mt-3 add_ingradient ">
                            <div class="m-table__main">
                                <div class="m-table__responsive -virtual-scroll">
                                    <table id="Approve_ParticularIngredientDetails" class="table table-bordered"></table>
                                    <div id="Approve_ParticularIngredientDetails_Pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="pull-right mt-2">
                            <div class="pull-right">
                                <button type="button" class="btn  btn-cancel" data-bs-dismiss="modal" id="Approve_cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="Approve_Confirmation_Modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Save Confirmation</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <p>Are you sure you want submit <strong id="Confirm_approve_ingredient"></strong> Ingredients details?</p>
                    </div>
                    <div class="">
                        <div class="pull-right">
                            <div class="pull-right">
                                <button type="button" class="btn  btn-draft" id="Approve_ok" style="background-color:green">OK</button>
                                <button type="button" class="btn  btn-cancel" data-bs-dismiss="modal" id="Approve_cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Remarks_modal" class="modal fade hd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remarks <sup class="color-red hide" id="remarks-mandatory">*</sup></h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel panel-primary filterable mdp">
                            <div class="id_tbl d-flex flex-column">
                                <span class="mb-2">Are you sure, you want to submit</span>
                                <textarea id="Remarks_text" class="remarksfiled noSpacesField mb-2 p-2 form-control" rows="5"></textarea>
                                <span id="Err_Remarks_text" style="display:none;color:red;">Please enter remarks</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-draft" id="SendtoApproveRevert">Save</button>
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="RollBack_RemarksToShow" class="modal fade hd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Rollback Remarks</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel panel-primary filterable mdp">
                            <div class="id_tbl">
                                <table border="1" id="Remarks_table" class="table">
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2 p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="displayremarks" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Remarks
                    </h4>
                    <div class="images_excel ">
                        <img src="@Url.Content("~/N_assets/images/excel.png")" id="exceldownload" title="Excel Download" />
                    </div>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="">
                            <div class="row">
                                <div class="m-table__main grid_height">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="Remarksjqgrid" class="table table-bordered"></table>
                                        <div id="Remarkspager"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="@Url.Content("~/js/NewRID/CosmeticsRIDApproval.js")" asp-append-version="true"></script>