@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.SessionOptions> SessionOptions
@model Ideation.Models.NewIdeationData
@{
    ViewData["Title"] = "Ideation";
    Layout = "/Views/Shared/Ideation_Layout.cshtml";
    var role = Context.Session.GetString("Role");
}
<input type="hidden" id="role" value="@role" />
<head>
    <style>
        .ui-jqgrid .ui-jqgrid-htable th {
            padding: 4px 8px !important;
            border: 1px solid #e7ecf1 !important;
        }

        .ui-jqgrid .ui-jqgrid-btable tr.jqgrow td {
            border: 1px solid #e6e6e6 !important;
        }

        .prototype_filter button.btn {
            padding: 4px;
            line-height: 1;
            background: #00d546;
            color: #fff;
            font-size: 12px;
            border-radius: 2px;
            border: 0;
        }

        button.btn.btn-refresh {
            background: #7b9592;
        }

        .select2-container .select2-selection--single {
            height: 22px;
        }
    </style>
</head>
<section>

    <div class="">
        <div class="-m_title_ ">
            <h4><span><a href="@Url.Content("~/Landing/Index")">Home/</a> </span> Ideation</h4>
        </div>
    </div>
</section>
<section>
    @if (TempData["Message"] != null)
    {
        <div class="alert @TempData["MessageClass"].ToString() alert-dismissible d-flex justify-content-between" role="alert" id="message_alert">
            @TempData["Message"].ToString()
            <button type="button" class="close" data-bs-dismiss="alert"><span>&times;</span></button>
        </div>
    }
</section>
<section>
    <div class="prototype_filter">
        <div class="d-flex excel_expand align-items-center justify-content-between">
            <div class="d-flex">
                <div class="col-width1">
                    <div class="form-group ">
                        <label for="fromdate" class="control-label ">Start Date</label>
                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @readonly = "readonly" })
                        <i class="fas fa-calendar-check-o datetpicker_icon" aria-hidden="true"></i>

                    </div>
                </div>
                <div class="col-width1">
                    <div class="form-group ">
                        <label for="fromdate" class="control-label">End Date</label>
                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", @readonly = "readonly" })
                        <i class="fas fa-calendar-check-o datetpicker_icon" aria-hidden="true"></i>

                    </div>
                </div>
                <div class="col-width1">
                    <div class="form-group flaoting_ ">
                        <label class="control-label ">Platform Domain</label>
                        @Html.DropDownListFor(model => model.BusinessDivisionId, Model.BusinessDivisionList, "All", new { @class = "form-select data-singleselect" })

                    </div>
                </div>
                <div class="col-width1">
                    <div class="form-group">
                        <label class="control-label">Platform Type</label>
                        @Html.DropDownListFor(model => model.PlatformTypeId, Model.PlatformTypeList, "All", new { @class = "form-select data-singleselect" })
                    </div>
                </div>
                <div class="col-width1">
                    <div class="form-group">
                        <label class="control-label ">Geographic Scope</label>
                        @Html.DropDownListFor(model => model.GeographicId, Model.GeographicList, "All", new { @class = "form-select data-singleselect" })

                    </div>
                </div>
                <div class="col-width1">
                    <div class="form-group ">
                        <label class="control-label">Status</label>
                        @Html.DropDownListFor(model => model.StatusId, Model.StatusList, "All", new { @class = "form-select data-singleselect" })

                    </div>
                </div>

                <div class="col-width1 mt-3 ">
                    <button class="btn btn-search" title="search" type="button" id="btn-search">
                        <i class="fas fa-search"></i>
                    </button>
                    <button class="btn btn-refresh" title="Refresh" type="button" id="btn-refresh">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <div class="d-flex excel_expand align-items-center">
                    <div class="images_excel ">
                        <img src="@Url.Content("~/N_assets/images/excel.png")" id="exporttoexcel" title="Excel Download" />
                    </div>
                    <div>
                        <div class="expand_initiate table_expand">
                            <div>
                                <button onclick="$(document).toggleFullScreen()" class="js-toggle-fullscreen-btn toggle-fullscreen-btn" aria-label="Enter fullscreen mode">
                                    <i class="fas fa-expand fullscreen_expand fullscreen-btn " title="Expand"></i>
                                    <i class="fas fa-times fullscreen_minimize exitscreen-btn" title="Co"></i>
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>


    <div class="animate__animated2 slideInUp mt-1">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="m-table__main grid_height">
                        <div class="m-table__responsive -virtual-scroll ideationdata_table">
                            @Html.HiddenFor(m => m.IdeationListData)
                            <table id="ideation_grid" class="table table-bordered"></table>
                            <div id="ideation_pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="Innovation_Details" class="modal fade layout_popup ideation_css" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Innovation Details

                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" id="closemodal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="modal_table">
                    <thead>
                        <tr class="mod_th">
                            <th scope="col">Platform Domain</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Approved/Declined By</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr></tr>

                    </tbody>
                </table>

                <div class="download-btn-flex d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="title_Popup" id="modal_innovationtile">Fish range</h4>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-right">
                            <label class="control-label pb-0 mb-0" id="filelabel">
                                Download File (Image, PDF, PPT)
                            </label>
                            <a class="download-btn float-right mb-3" href="#" target="_blank" id="model_filedownload"><i class="fas fa-download mr-1" aria-hidden="true"></i>Download/View File</a>

                        </div>
                    </div>
                </div>
                <input type="hidden" id="modal_innovationid" />
                <input type="hidden" id="modal_CreatedBy" />
                <form novalidate="novalidate">
                    <div class="row fr">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Keywords
                                </label>
                                <input type="text" readonly="readonly" class="form-control" id="modal_keywords" title="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Platform Domain
                                </label>
                                <input type="text" class="form-control" readonly="readonly" id="modal_bd" title="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Geographic Scope
                                </label>
                                <input type="text" class="form-control" readonly="readonly" id="modal_gs" title="">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Platform Type<span class="color-red">*</span>
                                </label>
                                <input type="text" readonly="readonly" class="form-control" id="modal_pt" title="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Other
                                </label>
                                <input type="text" class="form-control" readonly="readonly" id="modal_other" title="">
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Strategic Fit<span class="color-red">*</span>
                                </label>
                                <input type="text" class="form-control" readonly="readonly" id="modal_st" title="">
                            </div>
                        </div>



                        <div class="col-md-7">
                            <div class="form-group" id="remarkfield">
                                <label class="control-label" id="remarkLabel">
                                    Remarks
                                </label>
                                <textarea class="form-control" id="modal_remarks" title=""></textarea>

                            </div>

                        </div>
                        <div class="col-md-7">
                            <div class="form-group" id="remarkDrop">
                                <label class="control-label">
                                    Status <span class="color-red">*</span>
                                </label>
                                @Html.DropDownListFor(model => model.RemarkId, Model.RemarksList, "--Select--", new { @class = "form-control", @id = "modal_status" })

                                <span class="color-red valStatus" style="display: none;">Please Select Status</span>
                            </div>

                        </div>



                        <div class="col-md-12">
                            <div class="form-group" id="mailDrop" style="display: none;">
                                <label class="control-label">
                                    Mail Content
                                </label>
                                <div id="mail_content">
                                    @Html.TextAreaFor(model => model.RemarkDiscription, new { @class = "form-control", @id = "modal_emailcontent", style = "height: 193px;" })

                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="button_top float-right mt-2" id="modal_buttons">
                                <button type="button" class="btn btn-draft" id="model_submit">Submit</button>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



<div id="remarkModal" class="modal fade layout_popup new_innovation" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Innovation Details

                </h4>
                <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="modal_table">
                    <thead>
                        <tr class="mod_th">
                            <th scope="col">Platform Domain</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Approved/Declined By</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody id="remark_body">
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
@*<script src="@Url.Content("~/js/NewIdeation/IdeationList.js")"></script>*@
<script src="@Url.Content("~/js/NewIdeation/IdeationList.min.js")" asp-append-version="true"></script>