@model Ideation.Models.NPDLaunchMaster

@{
    ViewBag.Title = "NPDLaunchMaster";
    Layout = "~/Views/Shared/_NPDLMLayout.cshtml";

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>

@* @if (TempData["Message"] != null)
    {
    <div class="alert alert_green @TempData["Messageclass"].ToString() alert-dismissable">
    <button type="button" class="btn-close status-alert" data-bs-dismiss="alert" aria-label="Close"></button>
    @TempData["Message"].ToString()
    </div>
    }*@
<div class="card-box mb-2 card_height pb-3 sg">
    @using (Html.BeginForm("NPDList", "NPDLaunchMaster", FormMethod.Post, new { id = "NPDList_Submit", enctype = "multipart/form-data" }))
    {
        <div class="col-md-12 mb-2">
            <div class="page-title title_  mt-3">
                <h4>Material List</h4>
            </div>
        </div>

        @Html.HiddenFor(model => model.NPDLaunchMasterHeaderData, new { @id = "NPDLaunchMasterDetailsHeaderData" })
        @Html.HiddenFor(model => model.NpdListData, new { @id = "NpdListData" })

        <div class="row">
            <div class="col-auto">
                <div class="form-group mb-0 ">
                    <label class="control-label">
                        HGML Product Group
                    </label>
                    @Html.DropDownListFor(model => model.ProductName, Model.HGMLProductGroupList, "All", new { @class = "form-control form-control-sm data-singleselect", @id = "NpdHgmlProductGroup" })
                </div>
            </div>
            <div class="col-auto">
                <div class="form-group mb-0 ">
                    <label class="control-label">
                        HGML Category
                    </label>
                    @Html.DropDownListFor(model => model.CategoryName, Model.HGMLCategoryList, "All", new { @class = "form-control form-control-sm data-singleselect", @id = "NpdHgmlCategory" })

                </div>
            </div>
            <div class="col-auto">
                <div class="form-group mb-0 ">
                    <label class="control-label">
                        HGML Division
                    </label>
                    @Html.DropDownListFor(model => model.DivisionName, Model.HGMLDivisionList, "All", new { @class = "form-control form-control-sm data-singleselect", @id = "NpdHmlDivision" })
                </div>
            </div>
            <div class="col-auto">
                <div class="form-group mb-0 ">
                    <label class="control-label">
                        HGML Product Format
                    </label>
                    @Html.DropDownListFor(model => model.FormulationName, Model.HGMLFormulationList, "All", new { @class = "form-control form-control-sm data-singleselect", @id = "NpdHgmlFormulation" })

                </div>
            </div>
            <div class="col-auto">
                <div class="form-group mb-0 ">
                    <label class="control-label">
                        Source
                    </label>
                    @Html.DropDownListFor(model => model.SourceName, Model.HGMLSourceList, "All", new { @class = "form-control form-control-sm data-singleselect", @id = "NpdHgmlSource" })
                </div>
            </div>
            @*<div class="col-md-2 year_dropdown">
                <div class="form-group mb-0">*@
            @*<label class="control-label">
                Year
                </label>*@
            @*<input type="text" class="form-control date-datepicker-year input_height" />
                </div>
                </div>*@
            <div class="col-md-2">
                <div class="form-group mb-0 mt-4">
                    <button type="button" id="SearchNpdLmData" class="btn btn-info c-add-details waves-light waves-effect" title="Search" onclick="location.href = '#';"><i class="fas fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        @*jqgrid*@

        <div class="add_grid_">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="text-right">
                            <button type="button" id="ExcelDownload" class="btn-add excel_btn"><i class="fas fa-download ex_download mr-2 " aria-hidden="true"></i>Excel</button>
                        </div>

                        <div class="m-table__main mt-2">
                            <div class="m-table__responsive -virtual-scroll">
                                <table id="NPDlist_Grid" class="table table-bordered"></table>
                                <div id="pager_NPDlist_Grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">

                    <div class="save_buttons float-right text-right">
                    </div>

                </div>
            </div>
        </div>
    }
</div>

@*<script src="@Url.Content("~/js/npdlaunchmaster/NPDList.js")" asp-append-version="true"></script>*@
<script src="@Url.Content("~/js/npdlaunchmaster/NPDList.min.js")" asp-append-version="true"></script>
