@model Ideation.Models.ProjectMasters
@{
    ViewData["Title"] = "Budget Approval";
    Layout = "/Views/Shared/NewProjectInitiationLayout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/css/PIStyles.css")" />
<section>
    <div class="">
        <div class="-m_title_ ">
            <h4><span><a href="@Url.Content("~/Landing/Index")">Home/ </a></span>Budget Approval</h4>
        </div>
    </div>
</section>

<section>

    <div class="alert alert-dismissible" role="alert" id="alertMessage" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong id="alertText"></strong>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="alert @TempData["MessageClass"].ToString() alert-dismissible d-flex justify-content-between" role="alert" id="message_alert">
            @TempData["Message"].ToString()
            <button type="button" class="close" data-bs-dismiss="alert"><span>&times;</span></button>
        </div>
    }
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.BudgetType)
    @Html.HiddenFor(model => model.Role)

    @if (Model.PendingDeptFlag == "y")
    {
        <div class="scroll-left">
            <marquee behavior="scroll" direction="left" class="color-blue">
                (Note: There are some departments which have not sent the baseline budget request)
            </marquee>
        </div>
    }

    @using (Html.BeginForm("BaselineBudgetApprovalPhase1", "NewProjectInitiation", FormMethod.Post, new { id = "SubmitData", enctype = "multipart/form-data" }))
    {
        <div class="card-box mb-1 card_height pb-3 sg pt-1 test123">

            <div class="list_baseline">
                <ul>
                    <li style="display:none">
                        <b>BudgetType:</b><span class="BudgetType"></span>
                    </li>
                    <li style="display:none">
                        <b>Project Id:</b><span class="ProjectId_hidden"></span>
                    </li>
                    <li>
                        <b>Project Id:</b><span class="ProjectId colordetails"></span>
                    </li>
                    <li>
                        <b> Requested Baseline Budget (INR):</b> <span class="RequestedBaselineBudget colordetails">0</span>
                    </li>
                    <li>
                        <b> Approved Baseline Budget (INR):</b> <span class="ApprovedBaselineBudget colordetails">0</span>
                    </li>
                    <li>
                        <b> Requested Additional Budget (INR):</b> <span class="RequestedAdditionalBudget colordetails">0</span>
                    </li>
                    <li>
                        <b> Approved  Additional Budget (INR):</b> <span class="ApprovedAdditionalBudget colordetails">0</span>
                    </li>
                    <li>
                        <b>Total Budget (INR):</b> <span class="TotalBudget colordetails">0</span>
                    </li>
                </ul>
            </div>

            <div class="mt-1">
                <ul class="nav nav-tabs tabs_list">
                    <li><a data-toggle="tab" class="BaselineBudget active">Baseline Budget Request</a></li>
                    <li><a data-toggle="tab" class="AdditionalBudget">Additional Budget Request</a></li>

                </ul>
                <div class="tab-content tabs_data pt-2">

                    <div id="home" class="tab-pane fade in active">
                        <div class="row">

                            <div class="col-md-2">
                                <div class="form-group mb-0 ">
                                    <label class="control-label">Department </label>
                                    <select class="form-control DepartmentValue" data-singleselect id="Department">
                                        <option value="">--All--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group mb-0 ">
                                    <label class="control-label">Category</label>
                                    <select class="form-control CategoryValue" data-singleselect id="Category">
                                        <option value="">--All--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 prototype_filter mt-3">

                                <button class="btn btn-search" title="search" type="button" id="SearchData">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-refresh" title="refresh" type="button" id="btnrefresh">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </div>

                            <div class="col-md-6">
                                <div class="mt-2 d-flex align-items-center justify-content-end">
                                    <a href="#" onclick="ViewDocumentsDataModal()" title="View Documents"><i class="fas fa-eye"></i></a>

                                    <a class="text-primary" id="LinkToBusinessInfo">Business Information </a>
                                    <span title="Department Wise Budget" id="GetDepartmentBudgets" role="button">
                                        <i class="fas fa-info mr-2"></i>
                                    </span>
                                    <span title="Approval info" class="text-info mr-2" id="approvalHistory" role="button">
                                        <i class="fas fa-history"></i>
                                    </span>
                                    <button type="button" id="RejectData" class="btn btn-danger mr-2">
                                        Reject
                                    </button>
                                    <button type="button" id="ApproveData" class="btn btn-success mr-2">
                                        Approve
                                    </button>
                                    <a href="@Url.Content("~/NewProjectInitiation/BudgetApprovalPhase1")" class="m-0">
                                        <button type="button" id="Back" class="btn btn-cancel">
                                            Back
                                        </button>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="m-table__main mt-2">
                                        <div class="m-table__responsive -virtual-scroll">
                                            <table id="list" class="table table-bordered"></table>
                                            <div id="list_pager"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    }

</section>

<section>
    <div class="modal fade budget_popup" id="approvedInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Baseline Budget Approved Info</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="m-table__main mt-2 mb-2">
                                        <div class="m-table__responsive -virtual-scroll">
                                            <table id="approved_grid" class="table table-bordered"></table>
                                            <div id="approved_pager"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade budget_popup" id="additionalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Budget Approved Info</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="m-table__main mt-2 mb-2">
                                        <div class="m-table__responsive -virtual-scroll">
                                            <table id="approved_grid1" class="table table-bordered"></table>
                                            <div id="approved_pager1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Approve" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xs upload">
            <div class="modal-content">
                <div class="modal-header -bg-green">
                    <h4 class="modal-title modaltitle" id="exampleModalLabel"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="ProjctAndBudget"></p>
                    <p class="modalmsg"></p>
                    <div class="form-group">
                        <label class="control-label">
                            Remarks
                        </label><span class="color-red">*</span>
                        @Html.TextAreaFor(model => model.ApprovalRemarks, new { @class = "form-control cancelThisData closeModal ApprovalRemarks", @rows = "2", @spellcheck = "false", id = "ApprovalRemarks" })
                        <span id="Error_ApprovalRemarks" class="color-red Error_closeModal" style="display:none">Please enter the remarks</span>
                    </div>
                    <div class="text-right mt-2">
                        <button type="button" class="btn btn-success" id="ByClick_OK" data-title="Ok"> Ok</button>
                        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" data-title="Cancel"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade budget_popup" id="historypopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Approval Info</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span> <b>Project Id:</b> <span class="project_id pr-3"></span></span>
                                <span class="pr-3">
                                    <b>Approved Baseline Budget (INR):</b> <span class="ApprovedBaselineBudget colordetails"></span>
                                </span>
                                <span class="pr-3">
                                    <b>Approved Additional Budget (INR):</b> <span class="ApprovedAdditionalBudget colordetails"></span>
                                </span>
                                <span class="pr-3">
                                    <b>Total Budget (INR):</b> <span class="TotalBudget colordetails"></span>
                                </span>
                            </div>
                            <div class="images_excel">
                                <img src="@Url.Content("~/N_assets/images/excel.png")" id="HistoryExcelDownload" title="Excel Download">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="list_baseline">
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="m-table__main mt-2 mb-2">
                                        <div class="m-table__responsive -virtual-scroll">
                                            <table id="history_grid" class="table table-bordered"></table>
                                            <div id="history_pager"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button type="button" id="" data-bs-dismiss="modal" class="btn btn-cancel">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade budget_popup" id="ShowDepartmentList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="title">Department wise Budget Details</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <div>Project Id: <span class="project_id"></span></div>
                            <div class="images_excel">
                                <img src="@Url.Content("~/N_assets/images/excel.png")" id="DepartmentExcelDownload" title="Excel Download">
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="list_badge">
                                    <div class="m-table__main mt-2 mb-2">
                                        <div class="m-table__responsive -virtual-scroll -table-hilightrow">
                                            <input type="text" id="budget_projectid" hidden />
                                            <table id="DepartmentBudget" class="table table-bordered"></table>
                                            <div id="pager_DepartmentBudget"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button type="button" id="" data-bs-dismiss="modal" class="btn btn-cancel">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade budget_popup" id="approvalhistorypopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">History Info</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span> <b>Project Id:</b> <span class="project_id pr-4"></span></span>
                                <span class="pr-4">
                                    <b>Requested Year:</b> <span class="RequestedYearForHistory colordetails"></span>
                                </span>
                                <span class="pr-4">
                                    <b>Department:</b> <span class="RequestedDepartmentForHistory colordetails"></span>
                                </span>
                                <span class="pr-4"> <b>Category:</b> <span class="category pr-4 colordetails"></span></span>
                                <span class="pr-4">
                                    <b>Budget Type:</b> <span class="BudgetTypeForHistory colordetails"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="list_baseline">
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="m-table__main mt-2 mb-2">
                                        <div class="m-table__responsive -virtual-scroll">
                                            <table id="history_gridforapprovalinfo" class="table table-bordered"></table>
                                            <div id="history_pagerforapprovalinfo"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade budget_popup" id="SAPFailedShow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="title">SAP Remarks</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="list_badge">
                                    <div class="m-table__main mt-2 mb-2">
                                        <div class="m-table__responsive -virtual-scroll -table-hilightrow">
                                            <input type="text" id="budget_projectid" hidden />
                                            <table id="SapFailedRemarks" class="table table-bordered"></table>
                                            <div id="pager_SapFailedRemarks"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button type="button" id="" data-bs-dismiss="modal" class="btn btn-cancel">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="ViewFileModal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title filedetails">
                </h4>
                <button type="button" class="close" id="closebtn" data-bs-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="m-table__main grid_height">
                                <div class="m-table__responsive -virtual-scroll">
                                    <table id="projectbudgetviewfiles" class="table table-bordered"></table>
                                    <div id="pager_expected2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/js/NewProjectInitiation/NewBaseLineBudgetApprovalPhase1.js")"></script>