@model Ideation.Models.ProjectMasters
@{
    ViewData["Title"] = "Budget Request List";
    Layout = "/Views/Shared/NewProjectInitiationLayout.cshtml";
}
<style>
    .date_icon {
        position: relative;
    }

        .date_icon i.fas {
            position: absolute;
            right: 8px;
            top: 23px;
        }
</style>

@Html.HiddenFor(model => model.Projects)
@Html.HiddenFor(model => model.StatusValue)
@Html.HiddenFor(model => model.Departments)

<section>
    <div class="">
        <div class="-m_title_ ">
            <h4><span><a href="@Url.Content("~/Landing/Index")">Home/ </a></span>Budget Details Report</h4>
        </div>
    </div>
</section>

<div class="filter_status prototype_filter">
    <div class="d-flex justify-content-between mb-1">
        <div class="d-flex">
            <div class="col-width2">
                <div class="form-group">
                    <label class="control-label">Project Id</label>
                    <input type="text" class="form-control " placeholder="" id="ProjectId" data-projectid value="">
                    <span class="text-danger hide select-from-list">Please select Project from the list</span>
                    <span class="text-danger hide already-selected">Project has been already selected</span>
                    <span class="text-danger hide not-valid">Please select a valid Project</span>
                </div>
            </div>
            <div class="col-width2">
                <div class="">
                    <div class="status_dropdown">
                        <div class="">
                            <div class="">
                                <label class="control-label">Department</label>
                                <select class="form-select-sm addDepartmentOption ViewMode data-singleselect" id="Department">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-width2">
                <div class="">
                    <div class="status_dropdown">
                        <div class="">
                            <div class="">
                                <label class="control-label">Status</label>
                                <select class="form-select-sm addOption ViewMode data-singleselect" id="Status">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-width1 date_icon">
                <div class="form-group">
                    <label for="" class="control-label">From Date</label>
                    <input type="text" class="form-control" id="FromDate" data-datepicker-startdate1 readonly>
                    <i class="fas fa-calendar"></i>
                </div>
                <span class="text-danger _hide" id="Err_StartDate">Please select Start Date</span>
            </div>
            <div class="col-width1 date_icon">
                <div class="form-group">
                    <label for="" class="control-label">To Date</label>
                    <input type="text" class="form-control" id="ToDate" data-datepicker-enddate1 readonly>
                    <i class="fas fa-calendar"></i>
                </div>
                <span class="text-danger _hide" id="Err_StartDate">Please select End Date</span>
            </div>
            <div class="col-width1 filter_button mt-3">
                <button class="btn btn-search" title="search" id="SearchPMData" type="button">
                    <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-refresh" title="refresh" id="RefreshData" type="button">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
        </div>
        <div class="d-flex excel_expand align-items-center">
            <div class="images_excel" id="DownloadListExcel">
                <img src="@Url.Content("~/N_assets/images/excel.png")" />
            </div>
            <div>
                <div class="expand_initiate table_expand">
                    <div>
                        <button onclick="$(document).toggleFullScreen()" class="js-toggle-fullscreen-btn toggle-fullscreen-btn" aria-label="Enter fullscreen mode">
                            <i class="fas fa-expand fullscreen_expand fullscreen-btn "></i>
                            <i class="fas fa-times fullscreen_minimize exitscreen-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<section>
    <div class="animate__animated2 slideInUp mt-1">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="m-table__main grid_height">
                        <div class="m-table__responsive -virtual-scroll">
                            <table id="BudgetDetailsReport" class="table table-bordered"></table>
                            <div id="pager_BudgetDetailsReport"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="@Url.Content("~/js/NewProjectInitiation/BudgetDetailsReport.js")"></script>