@model Ideation.Models.PackageInitiatives;

@{
    ViewBag.Title = "PackageIntiatives";
    Layout = "~/Views/Shared/_PBLayout.cshtml";
    var userName = Context.Session.GetString("UserName");
    var hub = Context.Session.GetString("Hub");
}

<script src="@Url.Content("~/ckeditor/ckeditor.js")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/jquery.validate.min.js")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/jquery.validate.unobtrusive.min.js")" asp-append-version="true"></script>

<link href="https://www.codehim.com/demo/bootstrap-multiselect-dropdown/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="https://www.codehim.com/demo/bootstrap-multiselect-dropdown/dist/js/bootstrap-multiselect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<style>
    .btn-group > .btn {
        border-radius: 5px;
        border-color: #c6c6c6;
        height: 35px;
        text-align: left;
        font-size: 13px;
    }

    ul.multiselect-container.dropdown-menu.show {
        max-height: 200px !important;
        margin: 0px !important;
    }
</style>


<div class="card-box mb-0">

    @using (Html.BeginForm("PackageIntiatives", "NewInitiation", FormMethod.Post, new { id = "Package_Form_Submit", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.PackageHeaderTableData)
        @Html.HiddenFor(model => model.PackageProjectDetails)
        @Html.HiddenFor(model => model.PackageProductDescription)
        @Html.HiddenFor(model => model.PackageBusinessInformation)
        @Html.HiddenFor(model => model.PackageExpextedPackagingProfile)
        @Html.HiddenFor(model => model.PackageSustainability)
        @Html.HiddenFor(model => model.Status, new { @id = "PackStatus" })
        @* @Html.HiddenFor(model=>model.PackageInitiatorRemarks)*@
        @Html.HiddenFor(model => model.StatusId, new { @id = "StatusId" })
        @Html.HiddenFor(model => model.ProjectId, new { @id = "ProjectId" })
        @Html.HiddenFor(model => model.UserName, new { @value = userName, @id = "UserName" })

        @Html.HiddenFor(model => model.SupportingDocumentData)
        @Html.HiddenFor(model => model.DeletedSupportingdocument)

        @Html.HiddenFor(model => model.ApprovalStatus)
        <div class="tb_clr marbt">
            <h3 class="cen_txt d-grid">New Packaging Initiative<span class="sub_head">(<strong>Note:</strong> The Project Brief information will be auto saved for every 5 minutes . Please ensure that Project Name is entered to Auto save the data.)</span></h3>
            <table class="table table-bordered" id="Packaging_table">
                <thead>
                    <tr class="mod_th">
                        <th scope="col">Hub</th>
                        <th scope="col">Division<span class="color-red">*</span><span id="Error_Pack_Division" class="color-red" style="display:none"><br />Please select Division</span></th>
                        <th scope="col">Category<span class="color-red">*</span><span id="Error_pack_Category" class="color-red" style="display:none"><br />Please select Category</span></th>
                        <th scope="col">Initiated By</th>
                        <th scope="col">Initiated Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td id="PackageInitiative_hub">@hub</td>
                        <td id="PackageInitiative_Division">
                            @Html.DropDownListFor(model => model.Division, Model.DivisionList, "--Select--", new { @class = "form-select-sm", @id = "Division" })
                            @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
                        </td>

                        <td id="PackageInitiative_Category">
                            <select class="form-select-sm addCategoryOption data-singleselect" id="Package_Category" name="Category">
                                <option value="">--Select--</option>
                                @Html.HiddenFor(model => model.Category, new { @class = "form-control form-control-sm", @id = "Category" })
                            </select>
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                            <span id="Message_Pack_Category" style="display:none"><br />Please select Division First</span>
                        </td>

                        <td id="PackageInitiative_InitiatedBy">@userName</td>
                        <td id="PackageInitiative_InitatedOn"></td>
                        <td id="PackageInitiative_Status">New</td>

                    </tr>
                </tbody>
            </table>

            <h6 class="pro_det">Project Name</h6>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Project Name <span class="color-red">*</span></label>
                <div class="col-sm-10 pd">
                    @Html.TextBoxFor(m => m.ProjectName, new { id = "ProductDescription_ProjectName", @class = "form-control form-select-sm" })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    <span style="color:red" id="Error_in_ProjectName" class="color-red" hidden>Please enter Project Name</span>
                </div>
            </div>

            <h6 class="pro_det">Product Description</h6>
            <div id="productdescriptionMsg" style="color:red" hidden>Please enter atleast one data for Product Description</div>
            <div class="col-md-12">
                <div class="product_packag product_profile">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product Name  <span class="color-red">*</span></label>
                                    @Html.TextBoxFor(model => model.ProductName, new { id = "ProductDescription_Product", @class = "form-control ToClearData" })
                                    @*                                    <span id="ErrorIn_Product" class="remove" style="color:red" hidden>Please enter Product Name</span>
                                    *@  <span id="Error_PP_Product" style="color:red; display:none"></span>
                                    <span id="Checkedval" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">New Brand Name (if applicable) </label>
                                    @Html.TextBoxFor(model => model.NewBrandName, new { id = "ProductDescription_NewBrandName", @class = "form-control ToClearData" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">SKU <span class="color-red">*</span></label>
                                    @Html.TextBoxFor(model => model.SKU, new { id = "ProductDescription_SKU", @class = "form-control ToClearData" })
                                    <div id="ErrorIn_SKU" class="remove" style="color:red" hidden>Please enter SKU</div>
                                    <div id="SKU_Note" style="font-size:10px">(Please enter the SKU values with comma separated (Ex: 50ml , 100 ml))</div>
                                    @*<span id="errorSKU" class="remove" style="color:red" hidden>Continues duplicate commas Not allowed!</span>*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="float-left text-left mt-3 pt-3">
                                    <button type="button" id="AddProductDescription" class="btn-add">Add</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="add_grid_">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="m-table__main mt-2 mb-4">
                                        <div class="m-table__responsive -virtual-scroll">
                                            <table id="product_description" class="table table-bordered"></table>
                                            <div id="pager_expected_product_description"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h6 class="pro_det">Project Details</h6>
            <div class="row mb-3">
                <lable class="col-sm-2 col-form-label">Business Rational (Reason for Proposed change)<span class="color-red">*</span></lable>
                <div class="col-sm-10 ckediter_tolbar">
                    @Html.TextAreaFor(model => model.BusinessRational, new { @id = "editorsk1", name = "editorsk1", cols = "30", @class = "form-control BusinessRationalData" })
                    <span id="ErrorIn_BusinessRational" style="color:red" hidden> Please enter Business Rational Data</span>
                </div>
            </div>

            <h6 class="pro_det">Business Information</h6>
            <div id="businessinfoMsg" style="color:red" hidden>Please enter atleast one data for Business Information</div>
            <div class="Err-BIcombination" style="color:red;display:none">Selected Product and SKU combination already exists</div>

            <div class="col-md-12">
                <div class="row product_profile">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Product <span class="color-red">*</span></label>
                            @Html.DropDownListFor(model => model.BusinessInfoProduct, new List<SelectListItem>(), "--Select--", new { @class = "form-control mandate", @id = "BusinessInfo_Product" })
                            <span style="color:red; display:none" class="ToRemoveValue" id="Error_BI_Product"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>SKU<span class="color-red">*</span></label>
                            @Html.DropDownListFor(model => model.BusinessinfoSKU, new List<SelectListItem>(), "--Select--", new { @class = "form-control mandate ProductOption", @id = "BusinessInfo_SKU" })
                            <span id="ErrorinBusinessInfo_SKU" class="ToRemoveValue" style="color:red" hidden>Please select SKU</span>
                            <span class="Error_BI_Product" style="color:red;display:none"></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Proposed launch date <span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.ProposeLaunchDate, new { id = "BusinessInfo_ProposedLaunchDate", @class = "form-control data-datepicker BusinessInformation mandate", @autocomplete = "off" })
                            <span style="color:red; display:none" id="ErrorInBusinessInfo_ProposedLunchDate" class="Error_BusinessInformation">Please select Proposed Launch Date  </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Proposed Selling Price <span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.ProposedSellingPrice, new { id = "BusinessInfo_ProposeSellingPrice", @class = "form-control mandate", @onkeypress = "return onlyNumbers(this);" })
                            <span id="ErrorInBusinessInfo_ProposedSellingPrice" class="ToRemoveValue" style="color:red" hidden>Please enter Proposed Selling Price</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Expected COP <span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.ProposedTP, new { id = "BusinessInfo_ProposeTP", @class = "form-control mandate", @onkeypress = "return onlyNumbers(this);" })
                            <span id="ErrorInBusinessInfo_ProposedTP" class="ToRemoveValue" style="color:red" hidden>Please enter Expected COP</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Proposed MRP <span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.ProposedMRP, new { id = "BusinessInfo_ProposeMRP", @class = "form-control mandate", @onkeypress = "return onlyNumbers(this);" })
                            <span id="ErrorInBusinessInfo_ProposedMRP" class="ToRemoveValue" style="color:red" hidden>Please enter Proposed MRP</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Currency <span class="color-red">*</span></label>
                            @Html.DropDownListFor(model => model.Currency, Model.CurrencyList, "--Select--", new { @class = "form-control mandate ", @id = "BI_Currency" })
                            <span id="ErrorInBusinessInfo_Currency" class="ToRemoveValue" style="color:red" hidden>Please select Currency</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Expected GP % <span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.ExpectedGP, new { id = "BusinessInfo_ExpectedGP", @class = "form-control mandate", @onkeypress = "return onlyNumbers(this);" })
                            <span id="ErrorInBusinessInfo_ExpectedGP" class="ToRemoveValue" style="color:red" hidden>Please enter Expected GP %</span>
                            <span style="color:red; display:none" id="Error_Range_ExpectedGP" class="Error_BusinessInformation">Please enter Expected GP in between 1 to 100 </span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="m1m2">M1 Quantity<span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.M1Quantity, new { id = "BusinessInfo_M1Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_M1Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter M1 Quantity in digits</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="m1m2">M2 Quantity<span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.M2Quantity, new { id = "BusinessInfo_M2Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_M2Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter M2 Quantity in digits</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="m1m2">M3 Quantity<span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.M3Quantity, new { id = "BusinessInfo_M3Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_M3Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter M3 Quantity in digits</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="m1m2">M4 Quantity@*<span class="color-red">*</span>*@</label>
                            @Html.TextBoxFor(model => model.M4Quantity, new { id = "BusinessInfo_M4Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_M4Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter M4 Quantity in digits</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="m1m2">M5 Quantity@*<span class="color-red">*</span>*@</label>
                            @Html.TextBoxFor(model => model.M5Quantity, new { id = "BusinessInfo_M5Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_M5Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter M5 Quantity in digits</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="m1m2">M6 Quantity@*<span class="color-red">*</span>*@</label>
                            @Html.TextBoxFor(model => model.M6Quantity, new { id = "BusinessInfo_M6Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_M6Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter M6 Quantity in digits</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Y1 Quantity<span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.Y1Quantity, new { id = "BusinessInfo_Y1Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_Y1Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter Y1 value in digits that should Greater than or equal to M1+M2+M3+M4+M5+M6</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Y2 Quantity<span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.Y2Quantity, new { id = "BusinessInfo_Y2Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_Y2Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter Y2 value in digits</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Y3 Quantity<span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.Y3Quantity, new { id = "BusinessInfo_Y3Quantity", @class = "form-control mandate numeric", @onkeypress = "return onlyNumbersNotdecimals();" })
                            <span id="ErrorInBusinessInfo_Y3Quantity" class="ToRemoveValue" style="color:red" hidden>Please enter Y3 value in digits</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Business Value <span class="Bus_val">(Y2 Quantity * Proposed Selling Price)</span></label>
                            @Html.TextBoxFor(model => model.Businessvalue, new { id = "BusinessInfo_BusinessValue", @class = "form-control mandate", @readonly = "readonly", @onkeypress = "return onlyNumbers();" })
                            <span id="ErrorInBusinessInfo_BusinessValue" class="ToRemoveValue" style="color:red" hidden>Please enter Business Value</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>UOM<span class="color-red">*</span></label>
                            @Html.TextBoxFor(model => model.UOM, new { id = "BusinessInfo_UOM", @class = "form-control mandate", @onkeypress = "return restrictSpecialCharacters();", @onpaste = "return false" })
                            <span id="ErrorInBusinessInfo_UOM" class="ToRemoveValue" style="color:red" hidden>Please enter UOM </span>
                            <span style="color:red" id="getvalidate" hidden>Please enter valid UOM in alphabets</span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="float-right text-left mt-2 pt-2">
                            <button type="button" id="AddBusinessInfoData" class="btn btn-add">Add</button>
                        </div>
                    </div>
                </div>

                <div class="add_grid_">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="business_info" class="table table-bordered"></table>
                                        <div id="pager_business_info"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <h6 class="pro_det">Product Profile: Packaging Profile</h6>
            <div id="ExpectedPackagingMsg" required style="color:red" hidden>Please enter atleast one data for Product Profile:Packaging Profile</div>
            <div class="Err-PPcombination" style="color:red;display:none">Selected Product and SKU combination already exists</div>
            <div class="col-md-12">
                <div class="product_packag product_profile">
                    <div class="product_title">
                        <h6>Expected Packaging Material</h6>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product<span class="color-red">*</span></label>
                                    @Html.DropDownListFor(model => model.ExpectedProduct, new List<SelectListItem>(), "--Select--", new { @class = "form-control Toremove ", @id = "ExpectedPackage_Product" })
                                    @*<span id="ErrorInExpectedPack_Product" class="removeError" style="color:red" hidden>Please select Product Name</span>*@
                                    <span style="color:red; display:none" id="Error_PPR_Product" class="Error_PackagingProfile"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">SKU <span class="color-red">*</span></label>
                                    <select style="text-align:left !important" class="form-control multiselectDropdown ddlmulti example-dropUp PackagingProfile Toremove" multiple="multiple" id="ExpectedPack_SKU"> </select>
                                    <span id="ErrorInExpectedPack_SKU" class="removeError" style="color:red" hidden>Please select SKU</span><br>
                                    <span id="ErrorMSgSKU" class="removeError" style="color:red" hidden>All the available SKU's for the selected Product are already added</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Mold</label>
                                    @Html.DropDownListFor(model => model.Moulds, Model.MoldList, "--Select--", new { @id = "Expected_Mould", @class = "form-control PackagingProfile Toremove" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label">Primary Packaging <span class="color-red">*</span></label>
                                    <div class="ckediter_tolbar feature_benefits">
                                        @Html.TextAreaFor(model => model.PrimaryPackaging, new { @id = "ExpectedPack_PrimaryPackaging", @cols = "30", @class = "form-control" })
                                        <span id="ErrorInExpectedPack_PrimaryPackaging" class="removeError" style="color:red" hidden>Please enter Primary Packaging</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Secondary Packaging</label>
                                    <div class="ckediter_tolbar feature_benefits">
                                        @Html.TextAreaFor(model => model.SecondaryPackaging, new { @id = "ExpectedPack_SecondaryPackaging", @class = "form-control", @cols = "30" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tertiary Packaging</label>
                                    <div class="ckediter_tolbar feature_benefits">
                                        @Html.TextAreaFor(model => model.TertiaryPackaging, new { @id = "ExpectedPack_TertiaryPackaging", @class = "form-control", @cols = "30" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Benchmark Products</label>
                                    <div class="ckediter_tolbar feature_benefits">
                                        @Html.TextBoxFor(model => model.BenchmarkProducts, new { id = "ExpectedPack_BenchmarkProduct", @class = "form-control", @cols = "30" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Desired Packaging Characteristics</label>
                                    <div class="ckediter_tolbar feature_benefits">
                                        @Html.TextBoxFor(model => model.DesiredProductCharacteristics, new { id = "ExpectedPack_DesiredPack", @class = "form-control", @cols = "30" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Others (If any)</label>
                                    <div class="ckediter_tolbar feature_benefits">
                                        @Html.TextBoxFor(model => model.Others, new { id = "ExpectedPack_Other", @class = "form-control", @cols = "30" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Image Upload</label>
                                    <input type="file" name="files" class="form-control file-input Toremove" onchange="validateFileUpload()" id="ExpectedPack_ImageUpload" accept="image/gif, image/jpeg, image/png" multiple>

                                    @*  <input type="file" class="form-control file-input Toremove" id="ExpectedPack_ImageUpload" onchange="return fileValidation()" multiple name="AttachSpecFile" accept="image/gif, image/jpeg, image/png" />
                                    *@
                                    @*<span id="ToGetImage" class="ToHideImage"></span>*@
                                    <span id="Err_InvalidPackagingImage" style="color:red;display:none">The image must be a file of type: jpg, jpeg, png, gif, jfif, tiff, bmp, svg</span>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="float-left text-left mt-3 pt-3">
                                    <button type="button" id="AddExpectedPackagingData" class="btn-add">Add</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span id="ToGetImage" class="ToHideImage DisplayImage_Pack"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formulation_table"> </div>

                </div>
            </div>
            <h6 class="pro_det mt-3">Sustainability</h6>
            <div id="SusutainabitityMsg" required style="color:red" hidden>Please enter atleast one data for Sustainability</div>
            <div class="col-md-12">
                <div class="product_packag product_profile">
                    <div class="col-md-12 onlyfor8">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product<span class="color-red">*</span></label>
                                    @Html.DropDownListFor(model => model.ExpectedProduct, new List<SelectListItem>(), "--Select--", new { @class = "form-control Toremove", @id = "Sustain_Product" })
                                    <span style="display:none" id="Error_Sustain_Product" class="Error_Sustainability color-red">Please select Product</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">What sustainability goals are targeted?<span class="color-red">*</span></label>
                                    @Html.TextAreaFor(model => model.TargetedSustainGoals, new { @id = "Sustain_Target", @class = "form-control Toremove" })
                                    <span style="display:none" id="Error_Sustain_Target" class="Error_Sustainability color-red">Please enter What sustainability goals are targeted?</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Reusable</label>
                                    @Html.TextBoxFor(model => model.Reusable, new { id = "Sustain_Reusable", @class = "form-control Toremove" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Recycle</label>
                                    @Html.TextBoxFor(model => model.Recycle, new { id = "Sustain_Recycle", @class = "form-control Toremove" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Reducing</label>
                                    @Html.TextBoxFor(model => model.Reducing, new { id = "Sustain_Reducing", @class = "form-control Toremove" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Recovering</label>
                                    @Html.TextBoxFor(model => model.Recovering, new { id = "Sustain_Recovering", @class = "form-control Toremove" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="float-left text-left mt-4 pt-1">
                                    <button type="button" id="AddSustainability" class="btn-add">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add_grid_">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="m-table__main mt-2 mb-4">
                                        <div class="m-table__responsive -virtual-scroll">
                                            <table id="SustainabiltityGrid" class="table table-bordered"></table>
                                            <div id="pager_SustainabiltityGrid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_profile">
                <h6 class="pro_det mt-4">Supporting Documents</h6>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-3">
                        <label>Supporting Documents</label>
                        <div class="demo-content SupprotingDoc">
                            <input type="file" class="form-control file-input" accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.csv" id="Supportingdocuments" name="AttachSpecFile" onchange="return fileValidation()" />
                            <span id="Err_SupportingDocuments" style="color:red;display:none">The file must be of type: .pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .csv</span>
                            <span id="ErrorMsg_Document" style="color:red;display:none">Please select supporting document</span>
                            <span id="GetDocName"></span>
                        </div>
                    </div>
                    <div class="col-md-1 mt-4 pt-1 SupprotingDoc">
                        <div class="float-left text-left">
                            @*<i style="font-size:20px;color:blue" id="Add_SupportingDocuments" title="Add"class="fa Add_SupportingDocuments">&#xf067;</i>*@
                            <button type="button" id="Add_SupportingDocuments" class="btn-add Add_SupportingDocuments">Add</button>
                        </div>
                    </div>
                    @* <div class="col-md mt-4 pt-1 SupprotingDoc">
                            <div class="float-left text-left">
                                <label id="ViewData" title="View Supporting Documents" class="edit_history ViewData"><i class="fa fa-files-o" aria-hidden="true"></i></label>
                            </div>
                        </div>*@

                    <div class="add_grid_">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="m-table__main mt-3 mb-3">
                                        <div class="m-table__responsive -virtual-scroll">
                                            <table id="Grid_Supporting_Document" class="table table-bordered"></table>
                                            <div id="pager_Grid_Supporting_Document"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Initiator Remarks</label>
                        @Html.TextAreaFor(model => model.PackageInitiatorRemarks, new { id = "Pack_InitiatorRemarks", @class = "form-control form-control-sm", cols = "30", name = "editor2" })
                    </div>
                </div>
            </div>
            <div class="row sticky-bottom">
                <div class="save_buttons float-right text-right ">

                    @if (Model.IsEdit)
                    {
                        if (Model.Role != "PMD Team")
                        {
                            <button type="button" id="PackagingInit_Save" class="btn-add" data-title="Save" onclick="ValidatePackSaveForm()"> Save</button>
                            <button type="button" id="PackagingInit_submittoManager" class="btn-back" data-title="Submit" onclick="ValidatePackSubmitToManager()">Send for Approval</button>
                            <button type="button" id="PackagingInit_Submit" class="btn-sb" data-title="Submit" onclick="ValidatePackSubmitForm()">Send To HGML</button>
                        }
                    }
                    <button type="button" id="PackagingInit_Cancel" class="btn-cnl" data-bs-toggle="modal" data-bs-target="#CancelModal" data-title="Cancel"> Back</button>
                </div>
            </div>
        </div>
    }
</div>


@*save button*@
<div class="modal fade sv hd" id="SaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want save the Project Brief details?
            </div>
            <div class="modal-footer">
                <button type="button" id="ToSave" class="btn btn-success">OK</button>
                <button type="button" class="btn-cnl" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*submit button*@
<div class="modal fade sv hd" id="SubmitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submit Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want submit the details?
            </div>
            <div class="modal-footer">
                <button type="button" id="ByClickOk" class="btn btn-success">OK</button>
                <button type="button" class="btn-cnl" data-bs-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

@*cancel button*@
<div class="modal fade sv hd" id="CancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Dialog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to go back?
            </div>
            <div class="modal-footer">
                <button type="button" id="ToCancel" class="btn btn-success" onclick="location.href = './NewInitiation';">OK</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*Delete button in jq grid*@
<div class="modal fade sv hd" id="ToDeleteTheSelectedGridRow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure You want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" id="ToDeleteTheSelectedGridRow_Ok" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                <button type="button" class="btn-cnl" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*images popup*@
<div class="modal fade hd" id="Images_show_popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Packaging Images</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="add_grid_">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="uploaded_images_table" class="table table-bordered"></table>
                                        <div id="pager_uploaded_images_table"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hd" id="Document_show_popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supporting Documents</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="add_grid_">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="Grid_Supporting_Document" class="table table-bordered"></table>
                                        <div id="pager_Grid_Supporting_Document"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/js/packageinitiatives/packageinitiatives.js")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/packageinitiatives/packageinitiativesautosave.js")" asp-append-version="true"></script>
